<style>
    input[type=checkbox] { margin-right: 6px; margin-bottom: 3px; border-radius:
    0.5rem; border-style: none; } .logo-footer { filter: invert(1) !important; }
</style>
<footer class="relative">



    <!-- CONTACT -->
    <section id="contact" class="relative pt-28 pb-36 overflow-hidden">
        <div class="relative z-10  container px-4 mx-auto">
            <p
                class="mb-6 text-sm text-secondary text-center font-semibold uppercase tracking-px"
            >Kontakt z nami</p>
            <h2
                class="mb-14 text-2xl md:text-4xl font-bold text-white text-center font-heading tracking-px-n leading-tight md:max-w-xl mx-auto"
            >Zapraszamy do kotnaktu. Chętnie odpowiemy na wszelkie pytania dotyczące naszej oferty</h2>
            <div
                class="bg-white shadow-2xl relative bg-opacity-80 md:max-w-7xl mx-auto rounded-4xl shadow-12xl"
            >
                <div class="flex flex-wrap">
                    <div
                        class="w-full p-8 transition bg-secondary duration-200 border-b border-gray-300 md:w-1/3 md:border-r"
                    >
                        <div class="flex flex-wrap -m-4">
                            <div class="flex-1 p-4">
                                <h3
                                    class="mb-3 text-lg font-bold text-white font-heading"
                                >Dane firmy</h3>
                                <p class="mb-1 text-white text-base">TRANSBET
                                    BETONIARNIE GROCHOWICZ Sp. K.
                                </p>
                                <p class="mb-1 text-white text-base">ul.
                                    Topolowa 5, 37-700 Przemyśl</p>
                                <p class="mb-1 text-white text-base">NIP :
                                    795-10-07-169.</p>
                                <p class="mb-5 text-white text-base">KRS:
                                    0000573370</p>
                            </div>
                        </div>
                    </div>
                    <div
                        class="w-full cursor-pointer p-8 transition group duration-200 shadow-none bg-transparent hover:shadow-2xl hover:bg-secondary border-b border-r border-gray-300 md:w-1/3"
                    >
                    <a href="/betoniarnia-przemysl/" class="">
                        <div class="flex flex-wrap -m-4">
                            <div class="flex-1 p-4 text-gray-900 group-hover:text-white">
                                <h3
                                    class="mb-5 text-lg font-bold font-heading"
                                >Betoniarnia Przemyśl</h3>
                                <p class="mb-2 text-base">Topolowa
                                    5, 37-700 Przemyśl</p>
                                <p
                                    class="mb-2 text-base underline underline-offset-4"
                                >
                                    <a href="tel:+48888839617" class="">
                                        +48 888 839 617</a></p>
                                <p
                                    class="mb-2 text-base underline underline-offset-4"
                                >
                                    <a
                                        href="mailto:"
                                        class="biuro@transbet.com.pl"
                                    >biuro@transbet.com.pl</a>
                                </p>
                            </div>
                            </a>
                        </div>
                    </div>
                      <a href="/betoniarnia-radymno/" class="">
                    <div
                        class="w-full group cursor-pointer p-8 transition shadow-none bg-transparent hover:shadow-2xl hover:bg-secondary duration-200 border-b border-gray-300 md:w-1/3"
                    >
                  
                        <div class="flex flex-wrap -m-4">
                            <div class="flex-1 p-4 text-gray-900 group-hover:text-white">
                                <h3
                                    class="mb-5 text-lg font-bold font-heading"
                                >Betoniarnia Radymno</h3>
                                <p
                                    class="mb-2 text-base"
                                >Kościuszki 2a, 37-550 Radymno</p>
                                <p
                                    class="mb-2 text-base underline underline-offset-4"
                                >
                                    <a href="tel:+48660788125" class="">
                                        +48 660 788 125</a></p>
                                <p
                                    class="mb-2 text-base underline underline-offset-4"
                                >
                                    <a
                                        href="mailto:"
                                        class="maciej@transbet.com.pl"
                                    >maciej@transbet.com.pl</a>
                                </p>
                            </div>
                        </div>
                        
                    </div>
                    </a>
                    <a href="/betoniarnia-jaroslaw/" class="">
                    <div
                        class="w-full group cursor-pointer p-8 transition shadow-none bg-transparent hover:shadow-2xl hover:bg-secondary duration-200 border-r border-gray-300 md:w-1/3"
                    >
                    
                        <div class="flex flex-wrap text-gray-900 group-hover:text-white -m-4">
                            <div class="flex-1 p-4">
                                <h3
                                    class="mb-5 text-lg font-bold font-heading"
                                >Betoniarnia Jarosław</h3>
                                <p
                                    class="mb-2 text-base"
                                >Budowlanych 4, 37-500 Jarosław</p>
                                <p
                                    class="mb-2 text-base underline underline-offset-4"
                                >
                                    <a href="tel:+48660788125" class="">
                                        +48 660 788 125</a></p>
                                <p
                                    class="mb-2 text-base underline underline-offset-4"
                                >
                                    <a
                                        href="mailto:"
                                        class="maciej@transbet.com.pl"
                                    >maciej@transbet.com.pl</a>
                                </p>
                            </div>
                        </div>
                        
                    </div>
                    </a>
                    <a href="/produkty-betonowe/" class="">
                    <div
                        class="w-full group cursor-pointer p-8 transition shadow-none bg-transparent hover:shadow-2xl hover:bg-secondary duration-200 border-r border-gray-300 md:w-1/3"
                    >
                        <div class="flex flex-wrap -m-4 text-gray-900 group-hover:text-white">
                            <div class="flex-1 p-4">
                                <h3
                                    class="mb-5 text-lg font-bold font-heading"
                                >Prefabrykaty betonowe</h3>
                                <p class="mb-2 text-base">Topolowa
                                    5, 37-700 Przemyśl</p>
                                <p
                                    class="mb-2 text-base underline underline-offset-4"
                                >
                                    <a href="tel:+48539141851" class="">
                                        +48 539 141 851</a></p>
                                <p
                                    class="mb-2 text-base underline underline-offset-4"
                                >
                                    <a
                                        href="mailto:"
                                        class="prefabrykaty@transbet.com.pl"
                                    >prefabrykaty@transbet.com.pl</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    </a>
                    <a href="https://zbrojeniebudowlane.pl" class="">
                    <div
                        class="w-full group cursor-pointer p-8 transition shadow-none bg-transparent hover:shadow-2xl hover:bg-secondary duration-200 md:w-1/3"
                    >
                        <div class="flex flex-wrap -m-4 text-gray-900 group-hover:text-white">
                            <div class="flex-1 p-4">
                                <h3
                                    class="mb-5 text-lg font-bold font-heading"
                                >Prefabrykaty zbrojeniowe</h3>
                                <p class="mb-2 text-base">Topolowa
                                    5, 37-700 Przemyśl</p>
                                <p
                                    class="mb-2 text-base underline underline-offset-4"
                                >
                                    <a href="tel:+48539677770" class="">
                                        +48 539 677 770</a></p>
                                <p
                                    class="mb-2 text-base underline underline-offset-4"
                                >
                                    <a
                                        href="mailto:"
                                        class="zbrojarnia@transbet.com.pl"
                                    >zbrojarnia@transbet.com.pl</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        <img
            class="absolute bottom-0 w-full h-auto"
            {{!-- style="height: 353px;" --}}
            src="/assets/public/background_transbet.webp"
            alt=""
        />
        {{!-- <div class="absolute inset-0 bg-gradient-to-b from-white via-transparent to-transparent"></div> --}}
    </section>

    {{!-- <section id="contact" class="relative overflow-hidden bg-gray-100">
        <div
            class="absolute bottom-0 right-0 hidden w-full h-full lg:block lg:w-4/12"
        >
            <img
                class="object-cover w-full h-full"
                src="/assets/public/footer-betoniarnia.webp"
                alt=""
            />
        </div>
        <div class="container relative px-4 mx-auto">
            <div class="mx-auto max-w-7xl">
                <div class="flex flex-wrap py-10 -mx-4 2xl:py-20">
                    <div class="w-full px-4 mb-8 lg:w-3/5 lg:mb-0">
                        <span class="text-lg font-bold text-secondary">Kontakt z
                            nami</span>
                        <h2
                            class="mt-8 mb-12 text-3xl font-bold md:mb-20 font-heading"
                        >Zapraszamy do kontaktu</h2>
                        <a href="/betoniarnia-przemysl/" class="">
                            <div class="flex py-6 border-b border-gray-50">
                                <div>
                                    <h4
                                        class="text-xl mb-4 font-bold text-black"
                                    >Betoniarnia Przemyśl</h4>
                                    <p class="font-light text-gray-400">Adres:
                                        <span
                                            class="text-md font-light text-black"
                                        >Topolowa 5, Przemyśl</span>
                                    </p>
                                    <p class="font-light text-gray-400">Telefon:
                                        <span
                                            class="text-md font-light text-black"
                                        >888 839 617</span>
                                    </p>
                                    <p class="font-light text-gray-400">E-mail:
                                        <span
                                            class="text-md font-light text-black"
                                        >biuro@transbet.com.pl</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="/betoniarnia-radymno/" class="">
                            <div
                                class="flex items-center py-6 border-b border-gray-50"
                            >

                                <div>
                                    <h4
                                        class="text-xl mb-4 font-bold text-black"
                                    >Betoniarnia Radymno</h4>
                                    <p class="font-light text-gray-400">Adres:
                                        <span
                                            class="text-md font-light text-black"
                                        >Kościuszki 2a, Radymno</span>
                                    </p>
                                    <p class="font-light text-gray-400">Telefon:
                                        <span
                                            class="text-md font-light text-black"
                                        >660 788 125</span>
                                    </p>
                                    <p class="font-light text-gray-400">E-mail:
                                        <span
                                            class="text-md font-light text-black"
                                        >maciej@transbet.com.pl</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="/betoniarnia-jaroslaw/" class="">
                            <div
                                class="flex items-center py-6 border-b border-gray-50"
                            >
                                <div>
                                    <div>
                                        <h4
                                            class="text-xl mb-4 font-bold text-black"
                                        >Betoniarnia Jarosław</h4>
                                        <p
                                            class="font-light text-gray-400"
                                        >Adres:
                                            <span
                                                class="text-md font-light text-black"
                                            >Budowlanych 4, Jarosław</span>
                                        </p>
                                        <p
                                            class="font-light text-gray-400"
                                        >Telefon:
                                            <span
                                                class="text-md font-light text-black"
                                            >660 788 125</span>
                                        </p>
                                        <p
                                            class="font-light text-gray-400"
                                        >E-mail:
                                            <span
                                                class="text-md font-light text-black"
                                            >maciej@transbet.com.pl</span>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </a>
                        <a
                            href="https://zbrojeniebudowlane.pl/oferta-zbrojarnia/"
                            class=""
                        >
                            <div
                                class="flex items-center py-6 border-b border-gray-50"
                            >
                                <div>
                                    <div>
                                        <h4
                                            class="text-xl mb-4 font-bold text-black"
                                        >Prefabrykaty zbrojeniowe</h4>
                                        <p
                                            class="font-light text-gray-400"
                                        >Adres:
                                            <span
                                                class="text-md font-light text-black"
                                            >Budowlanych 4, Jarosław</span>
                                        </p>
                                        <p
                                            class="font-light text-gray-400"
                                        >Telefon:
                                            <span
                                                class="text-md font-light text-black"
                                            >539 677 770</span>
                                        </p>
                                        <p
                                            class="font-light text-gray-400"
                                        >E-mail:
                                            <span
                                                class="text-md font-light text-black"
                                            >zbrojarnia@transbet.com.pl</span>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </a>
                        <a href="/produkty-betonowe/" class="">
                            <div
                                class="flex items-center py-6 border-b border-gray-50"
                            >
                                <div>
                                    <div>
                                        <h4
                                            class="text-xl mb-4 font-bold text-black"
                                        >Prefabrykaty betonowe</h4>
                                        <p
                                            class="font-light text-gray-400"
                                        >Adres:
                                            <span
                                                class="text-md font-light text-black"
                                            >Topolowa 5, 37-700 Przemyśl</span>
                                        </p>
                                        <p
                                            class="font-light text-gray-400"
                                        >Telefon:
                                            <span
                                                class="text-md font-light text-black"
                                            >539 141 851</span>
                                        </p>
                                        <p
                                            class="font-light text-gray-400"
                                        >E-mail:
                                            <span
                                                class="text-md font-light text-black"
                                            >prefabrykaty@transbet.com.pl</span>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </a>

                    </div>
                    <div class="w-full px-4 lg:w-2/5">
                        <div
                            class="w-full px-8 py-16 bg-white shadow-2xl lg:ml-20 lg:px-12 lg:max-w-md"
                        >
                            <form action="#">
                                <h3
                                    class="mb-10 text-2xl font-bold font-heading"
                                >Formularz kontaktowy</h3>
                                <input
                                    class="w-full px-12 py-4 mb-4 placeholder-gray-300 bg-white border border-gray-300 focus:outline-none"
                                    type="emaill"
                                    placeholder="Adres email"
                                />
                                <input
                                    class="w-full px-12 py-4 mb-4 placeholder-gray-300 bg-white border border-gray-300 focus:outline-none"
                                    type="tel"
                                    placeholder="Numer telefonu"
                                />
                                <textarea
                                    class="w-full px-12 py-4 mb-6 placeholder-gray-300 bg-white border border-gray-300 focus:outline-none"
                                    name=""
                                    id=""
                                    cols="30"
                                    rows="10"
                                    placeholder="Twoja wiadomość"
                                ></textarea>
                                <div class="flex mb-10">
                                    <input
                                        class="border bg-gray-300 border-black"
                                        type="checkbox"
                                    />
                                    <p
                                        class="max-w-xs pl-2 text-sm text-gray-300"
                                    >Wysyłając formularz zgadzasz się z naszą
                                        polityką prywatności.</p>
                                </div>
                                <div class="text-right">
                                    <button
                                        class="px-12 py-4 font-bold text-white transition duration-200 bg-black hover:bg-secondary"
                                    >Wyślij</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> --}}
    <!-- FOOTER -->
    <section class="relative py-24 overflow-hidden bg-gray-50">
        <img class="absolute bottom-0 left-0" alt="" />
        <div class="container relative z-10 px-4 mx-auto">
            <div class="flex flex-wrap -m-6">
                <div class="w-full p-6 md:w-1/2 lg:w-5/12">
                    <div class="flex flex-col justify-between h-full">
                        <div>
                            <img
                                class="h-auto mb-16 w-28"
                                src="https://ml4d5ydfysph.i.optimole.com/gbblCDQ-fKoPB_qX/w:auto/h:auto/q:mauto/https://transbet.com.pl/wp-content/uploads/2019/02/transbet-logo-dark.png"
                                alt=""
                            />
                        </div>
                        <div>
                            <p
                                class="mb-4 text-base font-medium font-heading"
                            >Transbet Betoniarnie Grochowicz Sp. K.</p>
                            <p
                                class="mb-4 text-sm font-light text-gray-400"
                            >Nasza betoniarnia działa na terenie Województwa
                                Podkarpackiego. Posiadamy betoniarnie w
                                Przemyślu, Jarosławiu i Radymnie. Nasz beton
                                dostarczamy na terenie powiatów przemyskiego,
                                jarosławskiego, przeworskiego, bieszczadzkiego,
                                sanockiego i leskiego.</p>
                            <p class="text-sm text-gray-600">&copy; Copyright
                                2022. All Rights Reserved Transbet
                                <br />
                                Stworzono na Podkarpaciu przez
                                <a
                                    href="https://getpromo.pl/?utm_source=transbet&amp;utm_medium=footer&amp;utm_campaign=logo"
                                    target="_blank"
                                >
                                <svg class="w-16 h-auto" width="138" height="35" viewBox="0 0 138 35" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M23.3784 18.9747C24.0873 17.06 25.9137 15.6902 28.0568 15.6902C30.1995 15.6902 32.0263 17.06 32.7348 18.9747H23.3784ZM36.1003 22.2956C36.1944 21.7879 36.246 21.2648 36.246 20.7291C36.246 16.1146 32.5794 12.3744 28.0568 12.3744C23.5338 12.3744 19.8672 16.1146 19.8672 20.7291C19.8672 21.2648 19.9188 21.7879 20.0133 22.2956H20.0192C20.7671 26.1607 24.2278 29.0834 28.3863 29.0834C31.2474 29.0834 33.7768 27.6992 35.3213 25.5775L32.5953 23.6709C31.6511 24.9387 30.1194 25.7676 28.3863 25.7676C26.0846 25.7676 24.1304 24.309 23.4489 22.2956H32.8034H36.1003Z" fill="black"/>
<path d="M45.1793 12.8968H42.8993V8.24402H39.5733V12.8968H37.293V16.2178H39.5733V28.5621H42.8993V16.2178H45.1793V12.8968Z" fill="black"/>
<mask id="mask0_0_1" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="47" y="12" width="17" height="23">
<path d="M47.2715 12.3742H63.6872V34.8571H47.2715V12.3742Z" fill="white"/>
</mask>
<g mask="url(#mask0_0_1)">
<path d="M55.4795 25.7678C52.818 25.7678 50.651 23.5624 50.5975 20.8317V20.6265C50.651 17.8957 52.818 15.69 55.4795 15.69C58.1742 15.69 60.3664 17.9506 60.3664 20.7289C60.3664 23.5072 58.1742 25.7678 55.4795 25.7678ZM55.4795 12.3742C53.6505 12.3742 51.962 12.9839 50.5975 14.0133V12.8966H47.2715V34.8571H50.5975V27.4448C51.962 28.4742 53.6505 29.0836 55.4795 29.0836C60.0125 29.0836 63.6872 25.3434 63.6872 20.7289C63.6872 16.1148 60.0125 12.3742 55.4795 12.3742Z" fill="black"/>
</g>
<path d="M73.4639 12.3744C71.6352 12.3744 69.9468 12.9838 68.5823 14.0128V12.8968H65.2559V20.7291V28.5621H68.5823V20.6189C68.6398 17.8915 70.805 15.6902 73.4639 15.6902C74.0967 15.6902 74.6996 15.8188 75.255 16.0453V12.5763C74.6782 12.4451 74.0794 12.3744 73.4639 12.3744Z" fill="black"/>
<path d="M83.773 12.3744C79.0681 12.3744 75.2539 16.1146 75.2539 20.7291C75.2539 25.3432 79.0681 29.0838 83.773 29.0838C88.4783 29.0838 92.2921 25.3432 92.2921 20.7291C92.2921 16.1146 88.4783 12.3744 83.773 12.3744ZM83.773 15.6902C86.6396 15.6902 88.9713 17.9504 88.9713 20.7291C88.9713 23.5077 86.6396 25.768 83.773 25.768C80.9067 25.768 78.5748 23.5077 78.5748 20.7291C78.5748 17.9504 80.9067 15.6902 83.773 15.6902Z" fill="black"/>
<path d="M129.314 12.3744C124.609 12.3744 120.795 16.1146 120.795 20.7291C120.795 25.3432 124.609 29.0838 129.314 29.0838C134.019 29.0838 137.833 25.3432 137.833 20.7291C137.833 16.1146 134.019 12.3744 129.314 12.3744ZM129.314 15.6902C132.181 15.6902 134.513 17.9504 134.513 20.7291C134.513 23.5077 132.181 25.768 129.314 25.768C126.448 25.768 124.116 23.5077 124.116 20.7291C124.116 17.9504 126.448 15.6902 129.314 15.6902Z" fill="black"/>
<path d="M113.068 12.3755C110.985 12.3435 108.832 12.99 107.329 15.2757C106.204 13.4664 104.428 12.3755 101.932 12.3755C100.207 12.3755 98.5135 12.8799 97.1873 14.7474V12.8968H93.8613V28.5621H97.1873V20.0494C97.1873 17.2158 98.757 15.716 101.182 15.716C103.538 15.716 104.864 17.2523 104.864 20.0132V28.5621H108.189V20.0494C108.189 17.2158 109.96 15.716 112.316 15.716C114.741 15.716 115.901 17.2523 115.901 20.0132V28.5621H119.226V18.8549C119.226 15.0024 117.029 12.4109 113.068 12.3755Z" fill="black"/>
<path d="M17.7765 18.9747H11.1245V22.2956H14.4502V24.445C12.7277 25.2901 10.7928 25.7676 8.74381 25.7676C5.37241 25.7676 2.30799 24.4781 0 22.3748V26.5811C2.53492 28.1631 5.53144 29.0834 8.74381 29.0834C12.0783 29.0834 15.1822 28.0942 17.7762 26.3995V26.0307V22.2956L17.7765 18.9747Z" fill="black"/>
<mask id="mask1_0_1" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="18" height="11">
<path d="M0 0H17.2736V10.0862H0V0Z" fill="white"/>
</mask>
<g mask="url(#mask1_0_1)">
<path d="M0 10.086C1.03721 9.43864 2.15191 8.90443 3.32639 8.49659V6.26285H0M12.6244 8.04417V2.21022H9.2984V7.59285C10.4404 7.6308 11.5529 7.78591 12.6244 8.04417ZM17.2736 9.95148V5.15759H13.948V8.42143C15.1202 8.81012 16.2346 9.3248 17.2736 9.95148ZM4.6492 8.09612V-0.000305176H7.97522V7.6028C6.83284 7.65512 5.71999 7.82238 4.6492 8.09612Z" fill="#D5FF40"/>
</g>
</svg>

</a></p>
                            <p class="mt-4"></p>
                        </div>
                    </div>
                </div>
                <div class="w-full p-6 md:w-1/2 lg:w-2/12">
                    <div class="h-full">
                        <h3
                            class="text-xs font-semibold text-gray-500 uppercase mb-9 font-heading tracking-px"
                        >Batoniarnia Przemyśl</h3>
                        <ul>
                            <li class="mb-4"><a
                                    class="text-base font-medium text-gray-900 font-heading hover:text-gray-700"
                                    href="#"
                                >Topolowa 5</a></li>
                            <li class="mb-4"><a
                                    class="text-base font-medium text-gray-900 font-heading hover:text-gray-700"
                                    href="#"
                                >37-700 Przemyśl</a></li>
                            <li><a
                                    class="text-base font-medium text-gray-900 font-heading hover:text-gray-700"
                                    href="#"
                                >+48 888 839 617</a></li>
                        </ul>
                    </div>
                </div>
                <div class="w-full p-6 md:w-1/2 lg:w-2/12">
                    <div class="h-full">
                        <h3
                            class="text-xs font-semibold text-gray-500 uppercase mb-9 font-heading tracking-px"
                        >Betoniarnia Jarosław</h3>
                        <ul>
                            <li class="mb-4"><a
                                    class="text-base font-medium text-gray-900 font-heading hover:text-gray-700"
                                    href="#"
                                >Budowlanych 4</a></li>
                            <li class="mb-4"><a
                                    class="text-base font-medium text-gray-900 font-heading hover:text-gray-700"
                                    href="#"
                                >37-500 Jarosław</a></li>
                            <li class="mb-4"><a
                                    class="text-base font-medium text-gray-900 font-heading hover:text-gray-700"
                                    href="#"
                                >660 788 125</a></li>
                        </ul>
                    </div>
                </div>
                <div class="w-full p-6 md:w-1/2 lg:w-3/12">
                    <div class="h-full">
                        <h3
                            class="text-xs font-semibold text-gray-500 uppercase mb-9 font-heading tracking-px"
                        >Betoniarnia Radymnno</h3>
                        <ul>
                            <li class="mb-4"><a
                                    class="text-base font-medium text-gray-900 font-heading hover:text-gray-700"
                                    href="#"
                                >Kościuszki 2a</a></li>
                            <li class="mb-4"><a
                                    class="text-base font-medium text-gray-900 font-heading hover:text-gray-700"
                                    href="#"
                                >37-550 Radymno</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

</footer>
<script>
    var el = document.getElementById("copyright-year"); el.innerText = new
    Date().getFullYear();
</script>
