<style>
    input[type=checkbox] { margin-right: 6px; margin-bottom: 3px; border-radius:
    0.5rem; border-style: none; } .logo-footer { filter: invert(1) !important; }
</style>
<footer class="relative">



    <!-- CONTACT -->
    <section id="contact" class="relative pt-28 pb-36 overflow-hidden">
        <div class="relative z-10  container px-4 mx-auto">
            <p
                class="mb-6 text-sm text-secondary text-center font-semibold uppercase tracking-px"
            >Kontakt z nami</p>
            <h2
                class="mb-14 text-2xl md:text-4xl font-bold text-white text-center font-heading tracking-px-n leading-tight md:max-w-xl mx-auto"
            >Zapraszamy do kotnaktu. Chętnie odpowiemy na wszelkie pytania dotyczące naszej oferty</h2>
            <div
                class="bg-white shadow-2xl relative bg-opacity-80 md:max-w-7xl mx-auto rounded-4xl shadow-12xl"
            >
                <div class="flex flex-wrap">
                    <div
                        class="w-full p-8 transition bg-secondary duration-200 border-b border-gray-300 md:w-1/3 md:border-r"
                    >
                        <div class="flex flex-wrap -m-4">
                            <div class="flex-1 p-4">
                                <h3
                                    class="mb-3 text-lg font-bold text-white font-heading"
                                >Dane firmy</h3>
                                <p class="mb-1 text-white text-base">TRANSBET
                                    BETONIARNIE GROCHOWICZ Sp. K.
                                </p>
                                <p class="mb-1 text-white text-base">ul.
                                    Topolowa 5, 37-700 Przemyśl</p>
                                <p class="mb-1 text-white text-base">NIP :
                                    795-10-07-169.</p>
                                <p class="mb-5 text-white text-base">KRS:
                                    0000573370</p>
                            </div>
                        </div>
                    </div>
                    <div
                        class="w-full cursor-pointer p-8 transition group duration-200 shadow-none bg-transparent hover:shadow-2xl hover:bg-black border-b border-r border-gray-300 md:w-1/3"
                    >
                    <a href="/betoniarnia-przemysl/" class="">
                        <div class="flex flex-wrap -m-4">
                            <div class="flex-1 p-4 text-gray-900 group-hover:text-white">
                                <h3
                                    class="mb-5 text-lg font-bold font-heading"
                                >Betoniarnia Przemyśl</h3>
                                <p class="mb-2 text-base">Topolowa
                                    5, 37-700 Przemyśl</p>
                                <p
                                    class="mb-2 text-base underline underline-offset-4"
                                >
                                    <a href="tel:+48888839617" class="">
                                        +48 888 839 617</a></p>
                                <p
                                    class="mb-2 text-base underline underline-offset-4"
                                >
                                    <a
                                        href="mailto:"
                                        class="biuro@transbet.com.pl"
                                    >biuro@transbet.com.pl</a>
                                </p>
                            </div>
                            </a>
                        </div>
                    </div>
                      <a href="/betoniarnia-radymno/" class="">
                    <div
                        class="w-full group cursor-pointer p-8 transition shadow-none bg-transparent hover:shadow-2xl hover:bg-black duration-200 border-b border-gray-300 md:w-1/3"
                    >
                  
                        <div class="flex flex-wrap -m-4">
                            <div class="flex-1 p-4 text-gray-900 group-hover:text-white">
                                <h3
                                    class="mb-5 text-lg font-bold font-heading"
                                >Betoniarnia Radymno</h3>
                                <p
                                    class="mb-2 text-base"
                                >Kościuszki 2a, 37-550 Radymno</p>
                                <p
                                    class="mb-2 text-base underline underline-offset-4"
                                >
                                    <a href="tel:+48660788125" class="">
                                        +48 660 788 125</a></p>
                                <p
                                    class="mb-2 text-base underline underline-offset-4"
                                >
                                    <a
                                        href="mailto:"
                                        class="maciej@transbet.com.pl"
                                    >maciej@transbet.com.pl</a>
                                </p>
                            </div>
                        </div>
                        
                    </div>
                    </a>
                    <a href="/betoniarnia-jaroslaw/" class="">
                    <div
                        class="w-full group cursor-pointer p-8 transition shadow-none bg-transparent hover:shadow-2xl hover:bg-black duration-200 border-r border-gray-300 md:w-1/3"
                    >
                    
                        <div class="flex flex-wrap text-gray-900 group-hover:text-white -m-4">
                            <div class="flex-1 p-4">
                                <h3
                                    class="mb-5 text-lg font-bold font-heading"
                                >Betoniarnia Jarosław</h3>
                                <p
                                    class="mb-2 text-base"
                                >Budowlanych 4, 37-500 Jarosław</p>
                                <p
                                    class="mb-2 text-base underline underline-offset-4"
                                >
                                    <a href="tel:+48660788125" class="">
                                        +48 660 788 125</a></p>
                                <p
                                    class="mb-2 text-base underline underline-offset-4"
                                >
                                    <a
                                        href="mailto:"
                                        class="maciej@transbet.com.pl"
                                    >maciej@transbet.com.pl</a>
                                </p>
                            </div>
                        </div>
                        
                    </div>
                    </a>
                    <a href="/produkty-betonowe/" class="">
                    <div
                        class="w-full group cursor-pointer p-8 transition shadow-none bg-transparent hover:shadow-2xl hover:bg-black duration-200 border-r border-gray-300 md:w-1/3"
                    >
                        <div class="flex flex-wrap -m-4 text-gray-900 group-hover:text-white">
                            <div class="flex-1 p-4">
                                <h3
                                    class="mb-5 text-lg font-bold font-heading"
                                >Prefabrykaty betonowe</h3>
                                <p class="mb-2 text-base">Topolowa
                                    5, 37-700 Przemyśl</p>
                                <p
                                    class="mb-2 text-base underline underline-offset-4"
                                >
                                    <a href="tel:+48539141851" class="">
                                        +48 539 141 851</a></p>
                                <p
                                    class="mb-2 text-base underline underline-offset-4"
                                >
                                    <a
                                        href="mailto:"
                                        class="prefabrykaty@transbet.com.pl"
                                    >prefabrykaty@transbet.com.pl</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    </a>
                    <a href="https://zbrojeniebudowlane.pl" class="">
                    <div
                        class="w-full group cursor-pointer p-8 transition shadow-none bg-transparent hover:shadow-2xl hover:bg-black duration-200 md:w-1/3"
                    >
                        <div class="flex flex-wrap -m-4 text-gray-900 group-hover:text-white">
                            <div class="flex-1 p-4">
                                <h3
                                    class="mb-5 text-lg font-bold font-heading"
                                >Prefabrykaty zbrojeniowe</h3>
                                <p class="mb-2 text-base">Topolowa
                                    5, 37-700 Przemyśl</p>
                                <p
                                    class="mb-2 text-base underline underline-offset-4"
                                >
                                    <a href="tel:+48539677770" class="">
                                        +48 539 677 770</a></p>
                                <p
                                    class="mb-2 text-base underline underline-offset-4"
                                >
                                    <a
                                        href="mailto:"
                                        class="zbrojarnia@transbet.com.pl"
                                    >zbrojarnia@transbet.com.pl</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        <img
            class="absolute bottom-0 w-full h-auto"
            {{!-- style="height: 353px;" --}}
            src="/assets/public/background_transbet.webp"
            alt=""
        />
        {{!-- <div class="absolute inset-0 bg-gradient-to-b from-white via-transparent to-transparent"></div> --}}
    </section>

    {{!-- <section id="contact" class="relative overflow-hidden bg-gray-100">
        <div
            class="absolute bottom-0 right-0 hidden w-full h-full lg:block lg:w-4/12"
        >
            <img
                class="object-cover w-full h-full"
                src="/assets/public/footer-betoniarnia.webp"
                alt=""
            />
        </div>
        <div class="container relative px-4 mx-auto">
            <div class="mx-auto max-w-7xl">
                <div class="flex flex-wrap py-10 -mx-4 2xl:py-20">
                    <div class="w-full px-4 mb-8 lg:w-3/5 lg:mb-0">
                        <span class="text-lg font-bold text-secondary">Kontakt z
                            nami</span>
                        <h2
                            class="mt-8 mb-12 text-3xl font-bold md:mb-20 font-heading"
                        >Zapraszamy do kontaktu</h2>
                        <a href="/betoniarnia-przemysl/" class="">
                            <div class="flex py-6 border-b border-gray-50">
                                <div>
                                    <h4
                                        class="text-xl mb-4 font-bold text-black"
                                    >Betoniarnia Przemyśl</h4>
                                    <p class="font-light text-gray-400">Adres:
                                        <span
                                            class="text-md font-light text-black"
                                        >Topolowa 5, Przemyśl</span>
                                    </p>
                                    <p class="font-light text-gray-400">Telefon:
                                        <span
                                            class="text-md font-light text-black"
                                        >888 839 617</span>
                                    </p>
                                    <p class="font-light text-gray-400">E-mail:
                                        <span
                                            class="text-md font-light text-black"
                                        >biuro@transbet.com.pl</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="/betoniarnia-radymno/" class="">
                            <div
                                class="flex items-center py-6 border-b border-gray-50"
                            >

                                <div>
                                    <h4
                                        class="text-xl mb-4 font-bold text-black"
                                    >Betoniarnia Radymno</h4>
                                    <p class="font-light text-gray-400">Adres:
                                        <span
                                            class="text-md font-light text-black"
                                        >Kościuszki 2a, Radymno</span>
                                    </p>
                                    <p class="font-light text-gray-400">Telefon:
                                        <span
                                            class="text-md font-light text-black"
                                        >660 788 125</span>
                                    </p>
                                    <p class="font-light text-gray-400">E-mail:
                                        <span
                                            class="text-md font-light text-black"
                                        >maciej@transbet.com.pl</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="/betoniarnia-jaroslaw/" class="">
                            <div
                                class="flex items-center py-6 border-b border-gray-50"
                            >
                                <div>
                                    <div>
                                        <h4
                                            class="text-xl mb-4 font-bold text-black"
                                        >Betoniarnia Jarosław</h4>
                                        <p
                                            class="font-light text-gray-400"
                                        >Adres:
                                            <span
                                                class="text-md font-light text-black"
                                            >Budowlanych 4, Jarosław</span>
                                        </p>
                                        <p
                                            class="font-light text-gray-400"
                                        >Telefon:
                                            <span
                                                class="text-md font-light text-black"
                                            >660 788 125</span>
                                        </p>
                                        <p
                                            class="font-light text-gray-400"
                                        >E-mail:
                                            <span
                                                class="text-md font-light text-black"
                                            >maciej@transbet.com.pl</span>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </a>
                        <a
                            href="https://zbrojeniebudowlane.pl/oferta-zbrojarnia/"
                            class=""
                        >
                            <div
                                class="flex items-center py-6 border-b border-gray-50"
                            >
                                <div>
                                    <div>
                                        <h4
                                            class="text-xl mb-4 font-bold text-black"
                                        >Prefabrykaty zbrojeniowe</h4>
                                        <p
                                            class="font-light text-gray-400"
                                        >Adres:
                                            <span
                                                class="text-md font-light text-black"
                                            >Budowlanych 4, Jarosław</span>
                                        </p>
                                        <p
                                            class="font-light text-gray-400"
                                        >Telefon:
                                            <span
                                                class="text-md font-light text-black"
                                            >539 677 770</span>
                                        </p>
                                        <p
                                            class="font-light text-gray-400"
                                        >E-mail:
                                            <span
                                                class="text-md font-light text-black"
                                            >zbrojarnia@transbet.com.pl</span>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </a>
                        <a href="/produkty-betonowe/" class="">
                            <div
                                class="flex items-center py-6 border-b border-gray-50"
                            >
                                <div>
                                    <div>
                                        <h4
                                            class="text-xl mb-4 font-bold text-black"
                                        >Prefabrykaty betonowe</h4>
                                        <p
                                            class="font-light text-gray-400"
                                        >Adres:
                                            <span
                                                class="text-md font-light text-black"
                                            >Topolowa 5, 37-700 Przemyśl</span>
                                        </p>
                                        <p
                                            class="font-light text-gray-400"
                                        >Telefon:
                                            <span
                                                class="text-md font-light text-black"
                                            >539 141 851</span>
                                        </p>
                                        <p
                                            class="font-light text-gray-400"
                                        >E-mail:
                                            <span
                                                class="text-md font-light text-black"
                                            >prefabrykaty@transbet.com.pl</span>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </a>

                    </div>
                    <div class="w-full px-4 lg:w-2/5">
                        <div
                            class="w-full px-8 py-16 bg-white shadow-2xl lg:ml-20 lg:px-12 lg:max-w-md"
                        >
                            <form action="#">
                                <h3
                                    class="mb-10 text-2xl font-bold font-heading"
                                >Formularz kontaktowy</h3>
                                <input
                                    class="w-full px-12 py-4 mb-4 placeholder-gray-300 bg-white border border-gray-300 focus:outline-none"
                                    type="emaill"
                                    placeholder="Adres email"
                                />
                                <input
                                    class="w-full px-12 py-4 mb-4 placeholder-gray-300 bg-white border border-gray-300 focus:outline-none"
                                    type="tel"
                                    placeholder="Numer telefonu"
                                />
                                <textarea
                                    class="w-full px-12 py-4 mb-6 placeholder-gray-300 bg-white border border-gray-300 focus:outline-none"
                                    name=""
                                    id=""
                                    cols="30"
                                    rows="10"
                                    placeholder="Twoja wiadomość"
                                ></textarea>
                                <div class="flex mb-10">
                                    <input
                                        class="border bg-gray-300 border-black"
                                        type="checkbox"
                                    />
                                    <p
                                        class="max-w-xs pl-2 text-sm text-gray-300"
                                    >Wysyłając formularz zgadzasz się z naszą
                                        polityką prywatności.</p>
                                </div>
                                <div class="text-right">
                                    <button
                                        class="px-12 py-4 font-bold text-white transition duration-200 bg-black hover:bg-secondary"
                                    >Wyślij</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> --}}
    <!-- FOOTER -->
    <section class="relative py-24 overflow-hidden bg-gray-50">
        <img class="absolute bottom-0 left-0" alt="" />
        <div class="container relative z-10 px-4 mx-auto">
            <div class="flex flex-wrap -m-6">
                <div class="w-full p-6 md:w-1/2 lg:w-5/12">
                    <div class="flex flex-col justify-between h-full">
                        <div>
                            <img
                                class="h-auto mb-16 w-28"
                                src="https://ml4d5ydfysph.i.optimole.com/gbblCDQ-fKoPB_qX/w:auto/h:auto/q:mauto/https://transbet.com.pl/wp-content/uploads/2019/02/transbet-logo-dark.png"
                                alt=""
                            />
                        </div>
                        <div>
                            <p
                                class="mb-4 text-base font-medium font-heading"
                            >Transbet Betoniarnie Grochowicz Sp. K.</p>
                            <p
                                class="mb-4 text-sm font-light text-gray-400"
                            >Nasza betoniarnia działa na terenie Województwa
                                Podkarpackiego. Posiadamy betoniarnie w
                                Przemyślu, Jarosławiu i Radymnie. Nasz beton
                                dostarczamy na terenie powiatów przemyskiego,
                                jarosławskiego, przeworskiego, bieszczadzkiego,
                                sanockiego i leskiego.</p>
                            <p class="text-sm text-gray-600">&copy; Copyright
                                2022. All Rights Reserved Transbet
                                <br />
                                Stworzono na Podkarpaciu przez
                                <a
                                    href="https://otherland.pl/?utm_source=transbet&amp;utm_medium=footer&amp;utm_campaign=logo"
                                    target="_blank"
                                ><svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 3201 565"
                                        class="inline-block h-4 pl-2 hover:text-yellow-300"
                                    ><path
                                            fill="currentColor"
                                            d="M488.2 213.2a135.8 135.8 0 01-106.6-51.4 135.8 135.8 0 01-29.8-85 76.8 76.8 0 10-76.8 76.7A135.8 135.8 0 01381.6 205a135.8 135.8 0 0129.9 85 76.8 76.8 0 1076.7-76.7zM290 411.5A135.8 135.8 0 01183.4 360a135.8 135.8 0 01-29.9-85 76.8 76.8 0 10-76.7 76.7 135.8 135.8 0 01106.6 51.4 135.8 135.8 0 0129.8 85 76.8 76.8 0 1076.8-76.7z"
                                        ></path><path
                                            fill="currentColor"
                                            d="M445.7 164.4a49.1 49.1 0 100-98.3 49.1 49.1 0 000 98.3zM119.3 400.6a49.1 49.1 0 100 98.3 49.1 49.1 0 000-98.3zM117.3 166.4a49.1 49.1 0 100-98.2 49.1 49.1 0 000 98.2zM453.8 401.8c-26.4-4-39.6-11-46.8-16.4a137 137 0 01-17.7-17.7c-15.2-17.7-18.3-54.4-17-76.6 0-3 .2-13.2-.1-17.6-2.7-46-42.8-82-89.9-82a90.5 90.5 0 00-90.7 90.8c0 47.1 35.8 87.2 81.9 89.9 4.4.3 14.6.2 17.6 0 22.2-1.2 59 2 76.6 17 6.6 5.3 12.3 11.4 17.7 17.8 5.4 7.2 12.3 20.2 16.4 46.8a48.4 48.4 0 0080.7 28.7 48.3 48.3 0 00-28.6-80.7zm-171.5-78.6a40.7 40.7 0 110-81.4 40.7 40.7 0 010 81.4zM1175.8 224.8v165.5c0 17.3-15 31.3-32.3 31.3a32 32 0 01-32.4-31.3V224.8h-53c-15.4 0-28-13-28-28.7a28.6 28.6 0 0128-28.7h170.7c15.5 0 28 13.2 28 28.7a28.3 28.3 0 01-28 28.7h-53zM1308.8 196.6a32 32 0 0132.4-31.2c18 0 32.4 13.9 32.4 31.2v67.7h95.6v-67.7a32 32 0 0132.3-31.2c18 0 32.4 13.9 32.4 31.2v195c0 17.2-15 31.2-32.4 31.2a32 32 0 01-32.3-31.3v-69.8h-95.6v69.8a32.2 32.2 0 01-32.4 31.3 32 32 0 01-32.4-31.3v-195zM1674.4 360.5h108.4a28.3 28.3 0 0127.7 28.7 28 28 0 01-27.7 28.7H1642c-18 0-32.4-14-32.4-31.3v-188a31.7 31.7 0 0132.4-31.2h140.8a28.3 28.3 0 0127.7 28.7 28 28 0 01-27.7 28.7h-108.4V263h89a28.3 28.3 0 0127.5 28.7 28 28 0 01-27.5 28.7h-89v40zM1937.8 390.3a32.2 32.2 0 01-32.3 31.3c-18.1 0-32.4-14-32.4-31.3V199a31.8 31.8 0 0132.4-31.6h85.7c24.6 0 47.7 5.2 64.3 18 18.8 14.7 29 39.4 29 65.9a81.4 81.4 0 01-37.4 69.5l33 52.6a29 29 0 014.5 15.4c0 17.3-15.1 32.8-32.8 32.8a31 31 0 01-27.2-15.1l-42.3-70.3h-44.5v54zm0-168.1v59.6h48.2c7.7 0 15.5-1.9 21.3-5.5 7-4.8 11.4-12.9 11.4-24.3 0-11-3.6-18.8-10.2-23.6a37 37 0 00-21.8-6.2h-48.9zM2154.1 195.3a31.7 31.7 0 0132.4-31.2c18 0 32.3 14 32.3 31.2v165.2h79.5a28.3 28.3 0 0127.6 28.7 28 28 0 01-27.6 28.7h-111.8c-18 0-32.4-14-32.4-31.3V195.3zM2834.5 164a31.5 31.5 0 00-32.2 30.8v109.7l-94-123.7A40.4 40.4 0 002676 164a37.6 37.6 0 00-38.5 36.6v190.5c0 17 14.2 30.4 32.3 30.4 17.7 0 32.1-13.7 32.1-30.4V280.8l93.7 124.4a40.2 40.2 0 0032.3 16.4c21.4 0 38.8-16.5 38.8-36.7V195c0-17-14.4-30.8-32.2-30.8zM2473.3 164A110.6 110.6 0 002363 274.6v114.7a32.5 32.5 0 0064.8 0V274.5a45.6 45.6 0 0191.2 0v114.7a32.5 32.5 0 0064.8 0V274.5c0-60.9-49.5-110.4-110.4-110.4z"
                                        ></path><path
                                            fill="currentColor"
                                            d="M2473.3 336.2a27.2 27.2 0 100-54.4 27.2 27.2 0 000 54.4zM838 422.4c-79.3 0-147.8-55.3-147.8-139.7 0-85.3 68.5-140.5 147.7-140.5 78.9 0 147.3 55.2 147.3 140.5 0 85.6-68.4 139.7-147.3 139.7zm0-214.2c-42.5 0-72.9 31.2-72.9 74.5 0 43.2 30.4 74 72.8 74 42.5 0 72.5-30.8 72.5-74 0-43.3-30-74.5-72.5-74.5zM3166.5 377.6c-33.2 34.4-77.3 40.8-116.9 40.8H2978a34.5 34.5 0 01-35.2-34V179.7c0-18.8 15.6-34 35.3-34h76.8c40 0 78.5 6.4 111.7 40.8 20 20.8 33.6 51.6 33.6 95.3 0 44-13.6 74.8-33.6 95.7zM3013.2 359h31.6c30.4 0 55.3-7.6 69.6-27.2 8.8-12 13.7-28.4 13.7-50 0-25.6-6.8-43.7-18.9-55.7-14.8-15.2-37.2-21.2-64.4-21.2h-31.6v154.1z"
                                        ></path></svg></a></p>
                            <p class="mt-4"></p>
                        </div>
                    </div>
                </div>
                <div class="w-full p-6 md:w-1/2 lg:w-2/12">
                    <div class="h-full">
                        <h3
                            class="text-xs font-semibold text-gray-500 uppercase mb-9 font-heading tracking-px"
                        >Batoniarnia Przemyśl</h3>
                        <ul>
                            <li class="mb-4"><a
                                    class="text-base font-medium text-gray-900 font-heading hover:text-gray-700"
                                    href="#"
                                >Topolowa 5</a></li>
                            <li class="mb-4"><a
                                    class="text-base font-medium text-gray-900 font-heading hover:text-gray-700"
                                    href="#"
                                >37-700 Przemyśl</a></li>
                            <li><a
                                    class="text-base font-medium text-gray-900 font-heading hover:text-gray-700"
                                    href="#"
                                >+48 888 839 617</a></li>
                        </ul>
                    </div>
                </div>
                <div class="w-full p-6 md:w-1/2 lg:w-2/12">
                    <div class="h-full">
                        <h3
                            class="text-xs font-semibold text-gray-500 uppercase mb-9 font-heading tracking-px"
                        >Betoniarnia Jarosław</h3>
                        <ul>
                            <li class="mb-4"><a
                                    class="text-base font-medium text-gray-900 font-heading hover:text-gray-700"
                                    href="#"
                                >Budowlanych 4</a></li>
                            <li class="mb-4"><a
                                    class="text-base font-medium text-gray-900 font-heading hover:text-gray-700"
                                    href="#"
                                >37-500 Jarosław</a></li>
                            <li class="mb-4"><a
                                    class="text-base font-medium text-gray-900 font-heading hover:text-gray-700"
                                    href="#"
                                >660 788 125</a></li>
                        </ul>
                    </div>
                </div>
                <div class="w-full p-6 md:w-1/2 lg:w-3/12">
                    <div class="h-full">
                        <h3
                            class="text-xs font-semibold text-gray-500 uppercase mb-9 font-heading tracking-px"
                        >Betoniarnia Radymnno</h3>
                        <ul>
                            <li class="mb-4"><a
                                    class="text-base font-medium text-gray-900 font-heading hover:text-gray-700"
                                    href="#"
                                >Kościuszki 2a</a></li>
                            <li class="mb-4"><a
                                    class="text-base font-medium text-gray-900 font-heading hover:text-gray-700"
                                    href="#"
                                >37-550 Radymno</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

</footer>
<script>
    var el = document.getElementById("copyright-year"); el.innerText = new
    Date().getFullYear();
</script>