<style>
    input[type=checkbox] {
        margin-right: 6px;
        margin-bottom: 3px;
        border-radius:
            0.5rem;
        border-style: none;
    }

    .logo-footer {
        filter: invert(1) !important;
    }
</style>
<footer class="relative">



    <!-- CONTACT -->
    <section id="contact" class="relative bg-gray-50 pb-36 overflow-hidden">
        <div class="relative z-10  container px-4 mx-auto">

<div class="bg-gray-50 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Kontakt z nami</h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">Zapraszamy do kotnaktu. Chętnie odpowiemy na wszelkie pytania dotyczące naszej oferty</p>
    </div>
  </div>
</div>
            <div
                class="bg-gray-50 relative bg-opacity-60 md:max-w-7xl mx-auto rounded-4xl shadow-12xl">
                <div class="flex flex-wrap">
                    <div
                        class="w-full p-8 transition bg-secondary duration-200 border-b border-gray-300 md:w-1/3 md:border-r">
                        <div class="flex flex-wrap -m-4">
                            <div class="flex-1 p-4">
                                <h3 class="mb-3 text-lg font-bold text-white font-heading">Dane firmy</h3>
                                <p class="mb-1 text-white text-base">TRANSBET
                                    BETONIARNIE GROCHOWICZ Sp. K.
                                </p>
                                <p class="mb-1 text-white text-base">ul.
                                    Topolowa 5, 37-700 Przemyśl</p>
                                <p class="mb-1 text-white text-base">NIP :
                                    795-10-07-169.</p>
                                <p class="mb-5 text-white text-base">KRS:
                                    0000573370</p>
                            </div>
                        </div>
                    </div>
                    <div
                        class="w-full cursor-pointer p-8 transition group duration-200 shadow-none hover:shadow-2xl hover:bg-white transform translate-y-1 border-b border-r border-gray-300 md:w-1/3">
                        <a href="/betoniarnia-przemysl/" class="">
                            <div class="flex flex-wrap -m-4">
                                <div class="flex-1 p-4 text-gray-900 group-hover:text-black">
                                    <h3 class="mb-5 text-lg font-bold font-heading">Betoniarnia Przemyśl</h3>
                                    <p class="mb-2 text-base">Topolowa
                                        5, 37-700 Przemyśl</p>
                                    <p class="mb-2 text-base underline underline-offset-4">
                                        <a href="tel:+48888839617" class="">
                                            +48 888 839 617</a>
                                    </p>
                                    <p class="mb-2 text-base underline underline-offset-4">
                                        <a href="mailto:" class="biuro@transbet.com.pl">biuro@transbet.com.pl</a>
                                    </p>
                                </div>
                        </a>
                    </div>
                </div>
                <a href="/betoniarnia-radymno/" class="">
                    <div
                        class="w-full group cursor-pointer p-8 transition shadow-none bg-transparent hover:shadow-2xl hover:bg-white transform translate-y-1 duration-200 border-b border-gray-300 md:w-1/3">

                        <div class="flex flex-wrap -m-4">
                            <div class="flex-1 p-4 text-gray-900 group-hover:text-black">
                                <h3 class="mb-5 text-lg font-bold font-heading">Betoniarnia Radymno</h3>
                                <p class="mb-2 text-base">Kościuszki 2a, 37-550 Radymno</p>
                                <p class="mb-2 text-base underline underline-offset-4">
                                    <a href="tel:+48660788125" class="">
                                        +48 660 788 125</a>
                                </p>
                                <p class="mb-2 text-base underline underline-offset-4">
                                    <a href="mailto:" class="maciej@transbet.com.pl">maciej@transbet.com.pl</a>
                                </p>
                            </div>
                        </div>

                    </div>
                </a>
                <a href="/betoniarnia-jaroslaw/" class="">
                    <div
                        class="w-full group cursor-pointer p-8 transition shadow-none bg-transparent hover:shadow-2xl hover:bg-white transform translate-y-1 duration-200 border-r border-gray-300 md:w-1/3">

                        <div class="flex flex-wrap text-gray-900 group-hover:text-black -m-4">
                            <div class="flex-1 p-4">
                                <h3 class="mb-5 text-lg font-bold font-heading">Betoniarnia Jarosław</h3>
                                <p class="mb-2 text-base">Budowlanych 4, 37-500 Jarosław</p>
                                <p class="mb-2 text-base underline underline-offset-4">
                                    <a href="tel:+48660788125" class="">
                                        +48 660 788 125</a>
                                </p>
                                <p class="mb-2 text-base underline underline-offset-4">
                                    <a href="mailto:" class="maciej@transbet.com.pl">maciej@transbet.com.pl</a>
                                </p>
                            </div>
                        </div>

                    </div>
                </a>
                <a href="/produkty-betonowe/" class="">
                    <div
                        class="w-full group cursor-pointer p-8 transition shadow-none bg-transparent hover:shadow-2xl hover:bg-white transform translate-y-1 duration-200 border-r border-gray-300 md:w-1/3">
                        <div class="flex flex-wrap -m-4 text-gray-900 group-hover:text-black">
                            <div class="flex-1 p-4">
                                <h3 class="mb-5 text-lg font-bold font-heading">Prefabrykaty betonowe</h3>
                                <p class="mb-2 text-base">Budowlanych 4, 37-500 Jarosław</p>
                                <p class="mb-2 text-base underline underline-offset-4">
                                    <a href="tel:+48539141851" class="">
                                        +48 539 141 851</a>
                                </p>
                                <p class="mb-2 text-base underline underline-offset-4">
                                    <a href="mailto:"
                                        class="prefabrykaty@transbet.com.pl">prefabrykaty@transbet.com.pl</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="https://zbrojeniebudowlane.pl" class="">
                    <div
                        class="w-full group cursor-pointer p-8 transition shadow-none bg-transparent hover:shadow-2xl hover:bg-white transform translate-y-1 duration-200 md:w-1/3">
                        <div class="flex flex-wrap -m-4 text-gray-900 group-hover:text-black">
                            <div class="flex-1 p-4">
                                <h3 class="mb-5 text-lg font-bold font-heading">Prefabrykaty zbrojeniowe</h3>
                                <p class="mb-2 text-base">Topolowa
                                    5, 37-700 Przemyśl</p>
                                <p class="mb-2 text-base underline underline-offset-4">
                                    <a href="tel:+48539677770" class="">
                                        +48 539 677 770</a>
                                </p>
                                <p class="mb-2 text-base underline underline-offset-4">
                                    <a href="mailto:" class="zbrojarnia@transbet.com.pl">zbrojarnia@transbet.com.pl</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        </div>

        {{!-- <img class="absolute bottom-0 w-full h-auto" src="/assets/public/background_transbet_truck_mixer2.webp" alt="" />
        <div class="absolute inset-0 bg-black bg-opacity-60"></div> --}}
    </section>
    <!-- FOOTER -->
    <section class="relative py-24 overflow-hidden bg-black text-white">
        <img class="absolute bottom-0 left-0" alt="" />
        <div class="container relative z-10 px-4 mx-auto">
            <div class="flex flex-wrap -m-6">
                <div class="w-full p-6 md:w-1/2 lg:w-5/12">
                    <div class="flex flex-col justify-between h-full">
                        <div>
                            <img class="h-auto mb-16 w-28" src="/assets/public/logo-30-lat-transbet.png" alt="" />
                        </div>
                        <div>
                            <p class="mb-4 text-base font-medium font-heading">Transbet Betoniarnie Grochowicz Sp. K.
                            </p>
                            <p class="mb-4 text-sm font-light text-gray-400">Nasza betoniarnia działa na terenie
                                Województwa
                                Podkarpackiego. Posiadamy betoniarnie w
                                Przemyślu, Jarosławiu i Radymnie. Nasz beton
                                dostarczamy na terenie powiatów przemyskiego,
                                jarosławskiego, przeworskiego, bieszczadzkiego,
                                sanockiego i leskiego.</p>
                            <p class="text-sm text-gray-600">&copy; Copyright
                                2022. All Rights Reserved Transbet
                                <br />
                                Stworzono na Podkarpaciu przez
                                <a class="text-gray-400" href="https://getpromo.pl/?utm_source=transbet&amp;utm_medium=footer&amp;utm_campaign=logo"
                                    target="_blank" title="Strony Internetowe Getpromo">
                                    Getpromo
                                </a>
                            </p>
                            <p class="mt-4"></p>
                        </div>
                    </div>
                </div>
                <div class="w-full p-6 md:w-1/2 lg:w-2/12">
                    <div class="h-full">
                        <h3 class="text-xs font-semibold text-white uppercase mb-9 font-heading tracking-px">
                            Batoniarnia Przemyśl</h3>
                        <ul>
                            <li class="mb-4"><a
                                    class="text-base font-medium text-gray-400 font-heading hover:text-gray-700"
                                    href="#">Topolowa 5</a></li>
                            <li class="mb-4"><a
                                    class="text-base font-medium text-gray-400 font-heading hover:text-gray-700"
                                    href="#">37-700 Przemyśl</a></li>
                            <li><a class="text-base font-medium text-gray-400 font-heading hover:text-gray-700"
                                    href="#">+48 888 839 617</a></li>
                        </ul>
                    </div>
                </div>
                <div class="w-full p-6 md:w-1/2 lg:w-2/12">
                    <div class="h-full">
                        <h3 class="text-xs font-semibold text-white uppercase mb-9 font-heading tracking-px">
                            Betoniarnia Jarosław</h3>
                        <ul>
                            <li class="mb-4"><a
                                    class="text-base font-medium text-gray-400 font-heading hover:text-gray-700"
                                    href="#">Budowlanych 4</a></li>
                            <li class="mb-4"><a
                                    class="text-base font-medium text-gray-400 font-heading hover:text-gray-700"
                                    href="#">37-500 Jarosław</a></li>
                            <li class="mb-4"><a
                                    class="text-base font-medium text-gray-400 font-heading hover:text-gray-700"
                                    href="#">660 788 125</a></li>
                        </ul>
                    </div>
                </div>
                <div class="w-full p-6 md:w-1/2 lg:w-3/12">
                    <div class="h-full">
                        <h3 class="text-xs font-semibold text-white uppercase mb-9 font-heading tracking-px">
                            Betoniarnia Radymnno</h3>
                        <ul>
                            <li class="mb-4"><a
                                    class="text-base font-medium text-gray-400 font-heading hover:text-gray-700"
                                    href="#">Kościuszki 2a</a></li>
                            <li class="mb-4"><a
                                    class="text-base font-medium text-gray-400 font-heading hover:text-gray-700"
                                    href="#">37-550 Radymno</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

</footer>
<script>
    var el = document.getElementById("copyright-year"); el.innerText = new
        Date().getFullYear();
</script>