{{!< default}} {{#post}} <div class="">
  <section>
    <div class="relative w-full overflow-hidden">
      <div class="relative flex items-center justify-end overflow-hidden bg-black">
        <div class="absolute inset-0 z-10 opacity-50 bg-gradient-to-b from-black via-black to-transparent"></div>
        {{#if feature_image}}
        <div class="absolute inset-0 bg-center bg-cover bg-norepeat" style="background-image: url({{feature_image}}">
        </div>
        {{/if}}
        <div class="container relative z-20 px-6 m-auto mx-auto max-w-7xl md:px-12 lg:px-7">
          <div class="flex flex-wrap items-center px-2 md:px-0">
            <div class="relative text-white md:py-12 ">
              <div class="relative z-20 px-16 py-12">
                <!-- <div class="absolute z-10 w-full h-full shadow-2xl -top-5 left-5 md:backdrop-blur-sm md:bg-black md:bg-opacity-20"></div> -->
                <h2 class="relative z-20 text-4xl font-light uppercase shadow-2xl lg:text-6xl">
                  <span>{{title}}</span>
                </h2>
              </div>
            </div>
            <div class="relative h-full min-w-xl w-xl ">
            </div>
          </div>
        </div>

      </div>
    </div>
    </div>
    <!-- TEAM -->
  </section>
  <section class="relative py-20 overflow-hidden">
    <div class="container relative z-10 px-4 mx-auto">
      <h2 class="mb-5 text-4xl font-bold leading-tight font-heading tracking-px-n">O nas</h2>
      <p class="mb-20 font-medium leading-relaxed text-gray-600 md:max-w-md">Zespół, historia oraz strategia firmy.
        Aktualności z życia firmy i przydatne informacje.</p>
      <div class="flex justify-center flex-nowrap -m-2 mb-1.5">
        <div class="flex-shrink-0 max-w-md p-2">
          <a class="group" href="#">
            <div
              class="h-full p-8 duration-200 bg-white border hover:-translate-y-2 hover:shadow-xl bg-opacity-80 group-hover:border-transparent">
              <div class="flex flex-col justify-between h-full">
                <div class="mb-16">
                  <h3 class="mb-4 text-xl font-bold leading-snug font-heading">Firma</h3>
                  <p class="font-medium leading-relaxed text-gray-500">Nasz zespół kompetentnych i wykwalifikowanych
                    pracowników.</p>
                </div>
                <div class="flex flex-wrap items-center justify-between -m-2">
                  <div class="w-auto p-2">
                    <div class="flex flex-wrap -m-3">
                      <div class="w-auto p-3">
                        <div class="flex flex-wrap items-center justify-center">
                          <div class="w-auto p-1">
                            <p class="leading-relaxed">Zobacz więcej</p>
                          </div>
                          <div class="w-auto p-1 mt-1">
                            <svg width="17" height="16" viewBox="0 0 17 16" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path
                                d="M9.83333 3.33337L14.5 8.00004M14.5 8.00004L9.83333 12.6667M14.5 8.00004L2.5 8.00004"
                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                              </path>
                            </svg>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="flex-shrink-0 max-w-md p-2">
          <a class="group" href="#">
            <div
              class="h-full p-8 duration-200 bg-white border hover:-translate-y-2 hover:shadow-xl bg-opacity-80 group-hover:border-transparent">
              <div class="flex flex-col justify-between h-full">
                <div class="mb-16">
                  <h3 class="mb-4 text-xl font-bold leading-snug font-heading">Skład betonu</h3>
                  <p class="font-medium leading-relaxed text-gray-500">Zapewniamy bezproblemowe spełnienie wszystkich
                    niezbędnych wymagań.</p>
                </div>
                <div class="flex flex-wrap items-center justify-between -m-2">
                  <div class="w-auto p-2">
                    <div class="flex flex-wrap -m-3">
                      <div class="w-auto p-3">
                        <div class="flex flex-wrap items-center justify-center">
                          <div class="w-auto p-1">
                            <p class="leading-relaxed">Zobacz więcej</p>
                          </div>
                          <div class="w-auto p-1 mt-1">
                            <svg width="17" height="16" viewBox="0 0 17 16" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path
                                d="M9.83333 3.33337L14.5 8.00004M14.5 8.00004L9.83333 12.6667M14.5 8.00004L2.5 8.00004"
                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                              </path>
                            </svg>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="flex-shrink-0 max-w-md p-2">
          <a class="group" href="#">
            <div
              class="h-full p-8 duration-200 bg-white border hover:-translate-y-2 hover:shadow-xl bg-opacity-80 group-hover:border-transparent">
              <div class="flex flex-col justify-between h-full">
                <div class="mb-16">
                  <h3 class="mb-4 text-xl font-bold leading-snug font-heading">Pielęgnacja betonu</h3>
                  <p class="font-medium leading-relaxed text-gray-500">Jak pielęgnować beton, żeby cieszyć się jego
                    trwałością?</p>
                </div>
                <div class="flex flex-wrap items-center justify-between -m-2">
                  <div class="w-auto p-2">
                    <div class="flex flex-wrap -m-3">
                      <div class="w-auto p-3">
                        <div class="flex flex-wrap items-center justify-center">
                          <div class="w-auto p-1">
                            <p class="leading-relaxed">Zobacz więcej</p>
                          </div>
                          <div class="w-auto p-1 mt-1">
                            <svg width="17" height="16" viewBox="0 0 17 16" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path
                                d="M9.83333 3.33337L14.5 8.00004M14.5 8.00004L9.83333 12.6667M14.5 8.00004L2.5 8.00004"
                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                              </path>
                            </svg>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- BLOG -->
  <section class="overflow-hidden">
    <div class="py-16 bg-gray-50">
      <div class="container px-6 m-auto text-gray-600 max-w-7xl md:px-12 xl:px-6">
        <div class="space-y-2">
          <h2 class="mb-4 text-3xl font-semibold text-gray-900 font-heading">Aktualności</h2>
          <p class="text-lg">
            Informacje o optymalizacji procesów biznesowych i zagadnienia dotyczące wsparcia działania firmy. Przydatne
            informacje dotyczące systemów informatycznych i ich zastosowania w przedsiębiorstwie.
          </p>
        </div>
      </div>
    </div>
    <div class="py-16">
      <div class="container px-6 m-auto text-gray-600 max-w-7xl md:px-12 xl:px-6">
        <div class="grid gap-12 md:grid-cols-2">
          {{#get "posts" filter="tags:[blog]" limit="2"}}
          {{#foreach posts}}
          {{> "card"}} {{!-- partials/card.hbs --}}
          {{/foreach}}
          {{/get}}
        </div>
      </div>
    </div>
    <div class="container flex items-center justify-center mx-auto mb-12">
      <a class="relative z-20 inline-block px-8 py-3 mb-3 leading-loose text-white transition duration-200 shadow-2xl bg-secondary lg:mb-0 lg:mr-3 lg:w-auto hover:bg-black"
        href="/aktualnosci/">Zobacz wszystkie</a>
    </div>
  </section>
  </div>
  {{/post}}