{{!< default}} {{#post}} <div class="">
    <section>
        <div class="relative w-full overflow-hidden">
            <div class="relative flex items-center justify-end overflow-hidden bg-black">
                <div class="absolute inset-0 z-10 opacity-50 bg-gradient-to-b from-black via-black to-transparent">
                </div>
                {{#if feature_image}}
                <div class="absolute inset-0 bg-center bg-cover bg-norepeat"
                    style="background-image: url({{feature_image}}"></div>
                {{/if}}
                <div class="container relative z-20 px-6 m-auto mx-auto max-w-7xl md:px-12 lg:px-7">
                    <div class="flex flex-wrap items-center px-2 md:px-0">
                        <div class="relative text-white md:py-12 ">
                            <div class="relative z-20 px-16 py-12">
                                <!-- <div class="absolute z-10 w-full h-full shadow-2xl -top-5 left-5 md:backdrop-blur-sm md:bg-black md:bg-opacity-20"></div> -->
                                <h2 class="relative z-20 text-2xl  shadow-2xl lg:text-5xl">
                                    <span>{{title}}</span>
                                </h2>
                            </div>
                        </div>
                        <div class="relative h-full min-w-xl w-xl ">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- TEAM -->
    </section>
     <section class="relative pt-16 pb-16 overflow-hidden bg-white">
    <div class="container px-4 mx-auto mb-12">
          <h2 class="mb-4 font-heading  text-center text-4xl text-gray-900">Zapraszamy <br> do kontaktu z nami</h2>
    <p class="mb-24 mx-auto max-w-md text-center">Chętnie odpowiemy na wszystkie pytania dotyczące naszej oferty oraz udzelimy profesjonalnej porady.</p>
      <div class="flex flex-wrap mx-auto -m-8 max-w-7xl">
        <div class="w-full p-8 transition bg-secondary duration-200 border-b border-gray-200 md:w-1/3  md:border-r">
            <div class="flex flex-wrap -m-4">
              <div class="flex-1 p-4 ">
                <h3 class="mb-5 text-lg  text-white font-heading">Dane firmy</h3>
                <p class="mb-2 text-white text-base">TRANSBET BETONIARNIE GROCHOWICZ Sp. K. </p>
                 <p class="mb-2 text-white text-base">ul. Topolowa 5, 37-700 Przemyśl</p>
                <p class="mb-2 text-white text-base">NIP : 795-10-07-169.</p>
                <p class="mb-5 text-white text-base">KRS: 0000573370</p>
              </div>
            </div>
        </div>
        <div class="w-full p-8 transition duration-200 bg-transparent border-b border-r border-gray-200 md:w-1/3 ">
            <div class="flex flex-wrap -m-4">
              <div class="flex-1 p-4 ">
                <h3 class="mb-5 text-lg  text-gray-900 font-heading">Betoniarnia Przemyśl</h3>
                <p class="mb-2 text-gray-600 text-base">Topolowa 5, 37-700 Przemyśl</p>
                <p class="mb-2 text-gray-600 text-base underline underline-offset-4"> <a href="tel:+48888839617" class=""> +48 888 839 617</a></p>
                <p class="mb-2 text-gray-600 text-base underline underline-offset-4"> <a href="mailto:" class="biuro@transbet.com.pl">biuro@transbet.com.pl</a> </p>
              </div>
            </div>
        </div>
        <div class="w-full p-8 transition duration-200 bg-transparent border-b border-gray-200 md:w-1/3 ">
            <div class="flex flex-wrap -m-4">
              <div class="flex-1 p-4 ">
                <h3 class="mb-5 text-lg  text-gray-900 font-heading">Betoniarnia Radymno</h3>
                <p class="mb-2 text-gray-600 text-base">Kościuszki 2a, 37-550 Radymno</p>
                <p class="mb-2 text-gray-600 text-base underline underline-offset-4"> <a href="tel:+48660788125" class=""> +48 660 788 125</a></p>
                <p class="mb-2 text-gray-600 text-base underline underline-offset-4"> <a href="mailto:" class="maciej@transbet.com.pl">maciej@transbet.com.pl</a> </p>
              </div>
            </div>
        </div>
        <div class="w-full p-8 transition duration-200 bg-transparent border-r border-gray-200 md:w-1/3 ">
            <div class="flex flex-wrap -m-4">
              <div class="flex-1 p-4 ">
                <h3 class="mb-5 text-lg  text-gray-900 font-heading">Betoniarnia Jarosław</h3>
                <p class="mb-2 text-gray-600 text-base">Budowlanych 4, 37-500 Jarosław</p>
                <p class="mb-2 text-gray-600 text-base underline underline-offset-4"> <a href="tel:+48660788125" class=""> +48 660 788 125</a></p>
                <p class="mb-2 text-gray-600 text-base underline underline-offset-4"> <a href="mailto:" class="maciej@transbet.com.pl">maciej@transbet.com.pl</a> </p>
              </div>
            </div>
        </div>
        <div class="w-full p-8 transition duration-200 bg-transparent border-r border-gray-200 md:w-1/3 ">
            <div class="flex flex-wrap -m-4">
              <div class="flex-1 p-4 ">
                <h3 class="mb-5 text-lg  text-gray-900 font-heading">Prefabrykaty betonowe</h3>
                <p class="mb-2 text-gray-600 text-base">Topolowa 5, 37-700 Przemyśl</p>
                <p class="mb-2 text-gray-600 text-base underline underline-offset-4"> <a href="tel:+48539141851" class=""> +48 539 141 851</a></p>
                <p class="mb-2 text-gray-600 text-base underline underline-offset-4"> <a href="mailto:" class="prefabrykaty@transbet.com.pl">prefabrykaty@transbet.com.pl</a> </p>
              </div>
            </div>
        </div>
        <div class="w-full p-8 transition duration-200 bg-transparent md:w-1/3 ">
            <div class="flex flex-wrap -m-4">
              <div class="flex-1 p-4 ">
                <h3 class="mb-5 text-lg  text-gray-900 font-heading">Prefabrykaty zbrojeniowe</h3>
                <p class="mb-2 text-gray-600 text-base">Topolowa 5, 37-700 Przemyśl</p>
              <p class="mb-2 text-gray-600 text-base underline underline-offset-4"> <a href="tel:+48539677770" class=""> +48 539 677 770</a></p>
              <p class="mb-2 text-gray-600 text-base underline underline-offset-4"> <a href="mailto:" class="zbrojarnia@transbet.com.pl">zbrojarnia@transbet.com.pl</a> </p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>

<!-- MAPS -->
    {{!-- <div class="flex flex-col justify-between md:flex-row">
        <div class="relative z-20 w-full md:w-1/3"><iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2576.671078978862!2d22.807300315706975!3d49.77344387938773!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473b78da9dcd98d5%3A0x402bd86e6542ecdf!2sTransbet%20Betoniarnie!5e0!3m2!1spl!2spl!4v1667917596173!5m2!1spl!2spl"
                width="100%" height="450"  allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div
                class="absolute inset-0 z-30 px-6 py-4 text-center duration-300 opacity-100 hover:opacity-0 hover:invisible">
                <div class="absolute inset-0 w-full h-full bg-gradient-to-br from-orange-500 opacity-60 to-yellow-600">
                </div>
                <div class="relative flex flex-col items-center justify-center w-full h-full">
                    <p class="mb-1 text-2xl  text-white">Betoniarnia Przemyśl</p>
                    <p class="mb-4 text-xl text-blue-50">Topolowa 5</p>
                </div>
            </div>
        </div>

        <div class="relative z-20 w-full md:w-1/3"><iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2576.671078978862!2d22.807300315706975!3d49.77344387938773!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473b78da9dcd98d5%3A0x402bd86e6542ecdf!2sTransbet%20Betoniarnie!5e0!3m2!1spl!2spl!4v1667917596173!5m2!1spl!2spl"
                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div
                class="absolute inset-0 z-30 px-6 py-4 text-center duration-300 opacity-100 hover:opacity-0 hover:invisible">
                <div class="absolute inset-0 w-full h-full bg-gradient-to-br from-orange-500 opacity-60 to-yellow-600">
                </div>
                <div class="relative flex flex-col items-center justify-center w-full h-full">
                    <p class="mb-1 text-2xl  text-white">Betoniarnia Jarosław</p>
                    <p class="mb-4 text-xl text-blue-50">Budowlanych 4</p>
                </div>
            </div>
        </div>
        <div class="relative z-20 w-full md:w-1/3"><iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2576.671078978862!2d22.807300315706975!3d49.77344387938773!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473b78da9dcd98d5%3A0x402bd86e6542ecdf!2sTransbet%20Betoniarnie!5e0!3m2!1spl!2spl!4v1667917596173!5m2!1spl!2spl"
                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div
                class="absolute inset-0 z-30 px-6 py-4 text-center duration-300 opacity-100 hover:opacity-0 hover:invisible">
                <div class="absolute inset-0 w-full h-full bg-gradient-to-br from-orange-500 opacity-60 to-yellow-600">
                </div>
                <div class="relative flex flex-col items-center justify-center w-full h-full">
                    <p class="mb-1 text-2xl  text-white">Betoniarnia Radymno</p>
                    <p class="mb-4 text-xl text-blue-50">Kościuszki 2a</p>
                </div>
            </div>
        </div>
    </div> --}}
    </div>
    {{/post}}