{{!< default}}
{{#post}}
    <div class="relative">
        <img
            class="absolute inset-0 object-cover object-center w-full h-full"
            src="{{feature_image}}"
            alt=""
        />
        <div
            aria-hidden="true"
            class="absolute inset-0 w-full h-full bg-gradient-to-r from-black via-primary to-transparent opacity-80"
        ></div>
        <div class="container relative px-6 m-auto md:px-12 lg:px-6">
            <div class="py-40 space-y-16 md:py-56 lg:w-8/12 lg:mx-auto">
                <h1
                    class="text-3xl font-bold text-white sm:text-4xl md:text-5xl"
                >
                    {{title}}
                </h1>
                {{#if custom_excerpt}}<p
                        class="text-lg text-white md:text-xl"
                    >{{custom_excerpt}}</p>{{/if}}
            </div>
        </div>

    </div>
    <div class="py-16 bg-gray-50">
        <div
            class="container px-6 m-auto text-gray-600 max-w-7xl md:px-12 xl:px-6"
        >
            <div class="space-y-4">
                <h2
                    class="max-w-2xl text-2xl font-bold text-gray-900 md:text-4xl"
                >Nowoczesna, internetowa generacja oprogramowania dla firm</h2>
                <p class="text-lg">Oprogramowanie Certusoft ERP to nowoczesny,
                    kompleksowy system informatyczny wspierający zarządzanie
                    przedsiębiorstwem. System składa się z wielu modułów
                    obejmujących różne obszary działań firmy, np. finanse i
                    księgowość, system obiegu dokumentów, reklamacje, programy
                    lojalnościowe, analizy, zakupy i magazyn, logistyka i
                    sprzedaż, środki trwałe, CRM, PIM, MWM czy rejestracja czasu
                    pracy. To nasi klient decydują jakich modułów i w jakiej
                    konfiguracji aktualnie potrzebują - niezależnie czy to
                    oprogramowanie dla firm handlowych, hurtowni materiałów
                    budowlanych i remontowych czy aplikacja dla sklepu
                    internetowego i obsługa e-commerce.</p>
                <p class="text-lg">Oprogramowanie ma szeroki zakres funkcjonalny
                    i korzysta z szybkiej, stabilnej i wydajnej bazy danych,
                    dzięki czemu każdy użytkownik otrzymuje aktualne informacje.
                    Decyzje w firmie podejmowane są więc w oparciu o spójne
                    informacje i najświeższe dane ze wszystkich obszarów
                    funkcjonowania firmy.</p>
                <p class="text-lg">Program Certusoft ERP oparty jest na
                    rozwiązaniach webowych, z wydajną i stabilną bazą danych
                    działającą w chmurze. Data center posiada doskonałe warunki
                    techniczne i spełnia wymagające, wysokie warunki
                    bezpieczeństwa danych i sprzętu.</p>
            </div>
        </div>
    </div>
    <section class="relative py-12 overflow-hidden bg-gray-100">
        <div class="container px-4 mx-auto max-w-7xl">
            <div class="mx-auto mb-16">
                <h2
                    class="mb-5 text-2xl font-bold text-center text-gray-900 md:text-4xl"
                >Zapoznaj się z opisem naszych wybranych rozwiązań</h2>
            </div>

            <div class="flex flex-wrap justify-center -m-2">
                <div class="w-auto p-2">
                    <div
                        class="font-heading flex items-center font-semibold px-4 py-2.5 text-lg text-gray-900 bg-white rounded-full"
                    >
                        <div
                            class="mr-3 w-3.5 h-3.5 bg-secondary rounded-full"
                        ></div>
                        <a href="aplikacje-mobilne-i-system-erp">Aplikacje
                            mobilne</a>
                    </div>
                </div>
                <div class="w-auto p-2">
                    <div
                        class="font-heading flex items-center font-semibold px-4 py-2.5 text-lg text-gray-900 bg-white rounded-full"
                    >
                        <div
                            class="mr-3 w-3.5 h-3.5 bg-secondary rounded-full"
                        ></div>
                        <a href="e-commerce-b2b-b2c">E-commerce</a>
                    </div>
                </div>
                <div class="w-auto p-2">
                    <div
                        class="font-heading flex items-center font-semibold px-4 py-2.5 text-lg text-gray-900 bg-white rounded-full"
                    >
                        <div
                            class="mr-3 w-3.5 h-3.5 bg-secondary rounded-full"
                        ></div>
                        <a href="system-obslugi-reklamacji-w-firmie">System
                            obsługi reklamacji</a>
                    </div>
                </div>
                <div class="w-auto p-2">
                    <div
                        class="font-heading flex items-center font-semibold px-4 py-2.5 text-lg text-gray-900 bg-white rounded-full"
                    >
                        <div
                            class="mr-3 w-3.5 h-3.5 bg-secondary rounded-full"
                        ></div>
                        <a href="mobilna-aplikacja-magazynowa">Mobilna aplikacja
                            magazynowa</a>
                    </div>
                </div>
                <div class="w-auto p-2">
                    <div
                        class="font-heading flex items-center font-semibold px-4 py-2.5 text-lg text-gray-900 bg-white rounded-full"
                    >
                        <div
                            class="mr-3 w-3.5 h-3.5 bg-secondary rounded-full"
                        ></div>
                        <a href="program-lojalnosciowy-system">Programy
                            lojalnościowe</a>
                    </div>
                </div>
                <div class="w-auto p-2">
                    <div
                        class="font-heading flex items-center font-semibold px-4 py-2.5 text-lg text-gray-900 bg-white rounded-full"
                    >
                        <div
                            class="mr-3 w-3.5 h-3.5 bg-secondary rounded-full"
                        ></div>
                        <a href="system-pim-w-firmie">System PIM</a>
                    </div>
                </div>
                <div class="w-auto p-2">
                    <div
                        class="font-heading flex items-center font-semibold px-4 py-2.5 text-lg text-gray-900 bg-white rounded-full"
                    >
                        <div
                            class="mr-3 w-3.5 h-3.5 bg-secondary rounded-full"
                        ></div>
                        <a href="system-obiegu-dokumentow-w-firmie">System
                            Obiegu Dokumentów</a>
                    </div>
                </div>
                <div class="w-auto p-2">
                    <div
                        class="font-heading flex items-center font-semibold px-4 py-2.5 text-lg text-gray-900 bg-white rounded-full"
                    >
                        <div
                            class="mr-3 w-3.5 h-3.5 bg-secondary rounded-full"
                        ></div>
                        <a href="zamowienia-do-dostawcow-system">Automatyczne
                            zamówienia do dostawców</a>
                    </div>
                </div>
                {{! <div class="w-auto p-2">
                    <div
                        class="font-heading flex items-center font-semibold px-4 py-2.5 text-lg text-gray-900 bg-white rounded-full">
                        <div class="mr-3 w-3.5 h-3.5 bg-secondary rounded-full"></div>
                        <a href="aplikacje-mobilne">Aplikacje mobilne</a>
                    </div>
                </div> }}
                <div class="w-auto p-2">
                    <div
                        class="font-heading flex items-center font-semibold px-4 py-2.5 text-lg text-gray-900 bg-white rounded-full"
                    >
                        <div
                            class="mr-3 w-3.5 h-3.5 bg-secondary rounded-full"
                        ></div>
                        <a href="finanse-i-ksiegowosc-program">Finanse i
                            księgowość</a>
                    </div>
                </div>
                <div class="w-auto p-2">
                    <div
                        class="font-heading flex items-center font-semibold px-4 py-2.5 text-lg text-gray-900 bg-white rounded-full"
                    >
                        <div
                            class="mr-3 w-3.5 h-3.5 bg-secondary rounded-full"
                        ></div>
                        <a href="umowy-inwestycyjne-system">Umowy inwestycyjne</a>
                    </div>
                </div>
                <div class="w-auto p-2">
                    <div
                        class="font-heading flex items-center font-semibold px-4 py-2.5 text-lg text-gray-900 bg-white rounded-full"
                    >
                        <div
                            class="mr-3 w-3.5 h-3.5 bg-secondary rounded-full"
                        ></div>
                        <a href="portfele-inwestycyjne-system">Portfele
                            inwestycyjne</a>
                    </div>
                </div>
                <div class="w-auto p-2">
                    <div
                        class="font-heading flex items-center font-semibold px-4 py-2.5 text-lg text-gray-900 bg-white rounded-full"
                    >
                        <div
                            class="mr-3 w-3.5 h-3.5 bg-secondary rounded-full"
                        ></div>
                        <a href="replenishment-system">Replenishment</a>
                    </div>
                </div>
                <div class="w-auto p-2">
                    <div
                        class="font-heading flex items-center font-semibold px-4 py-2.5 text-lg text-gray-900 bg-white rounded-full"
                    >
                        <div
                            class="mr-3 w-3.5 h-3.5 bg-secondary rounded-full"
                        ></div>
                        <a href="magazyn-system">Magazyn</a>
                    </div>
                </div>
                <div class="w-auto p-2">
                    <div
                        class="font-heading flex items-center font-semibold px-4 py-2.5 text-lg text-gray-900 bg-white rounded-full"
                    >
                        <div
                            class="mr-3 w-3.5 h-3.5 bg-secondary rounded-full"
                        ></div>
                        <a href="umowy-retrorabaty-program">Umowy retro</a>
                    </div>
                </div>
                <div class="w-auto p-2">
                    <div
                        class="font-heading flex items-center font-semibold px-4 py-2.5 text-lg text-gray-900 bg-white rounded-full"
                    >
                        <div
                            class="mr-3 w-3.5 h-3.5 bg-secondary rounded-full"
                        ></div>
                        <a
                            href="connector-i-integracje-z-innymi-rozwiazaniami"
                        >Connector</a>
                    </div>
                </div>
                <div class="w-auto p-2">
                    <div
                        class="font-heading flex items-center font-semibold px-4 py-2.5 text-lg text-gray-900 bg-white rounded-full"
                    >
                        <div
                            class="mr-3 w-3.5 h-3.5 bg-secondary rounded-full"
                        ></div>
                        <a href="logistyka-i-sprzedaz/">Logistyka i sprzedaż</a>
                    </div>
                </div>
                <div class="w-auto p-2">
                    <div
                        class="font-heading flex items-center font-semibold px-4 py-2.5 text-lg text-gray-900 bg-white rounded-full"
                    >
                        <div
                            class="mr-3 w-3.5 h-3.5 bg-secondary rounded-full"
                        ></div>
                        <a
                            href="najlepsze-oprogramowanie-dla-sieci-franczyzowej/"
                        >Franczyza</a>
                    </div>
                </div>
                <div class="w-auto p-2">
                    <div
                        class="font-heading flex items-center font-semibold px-4 py-2.5 text-lg text-gray-900 bg-white rounded-full"
                    >
                        <div
                            class="mr-3 w-3.5 h-3.5 bg-secondary rounded-full"
                        ></div>
                        <a href="umowy-b2b-systemy-biznesowe/">Umowy</a>
                    </div>
                </div>
                <div class="w-auto p-2">
                    <div
                        class="font-heading flex items-center font-semibold px-4 py-2.5 text-lg text-gray-900 bg-white rounded-full"
                    >
                        <div
                            class="mr-3 w-3.5 h-3.5 bg-secondary rounded-full"
                        ></div>
                        <a
                            href="zarzadzanie-transportem-system-dla-firm/"
                        >Zarządzanie transportem</a>
                    </div>
                </div>
            </div>

            <div class="flex flex-wrap justify-center -m-2 mb-7">

            </div>
        </div>
    </section>
    <div class="py-16 bg-gray-50">
        <div
            class="container px-6 m-auto text-gray-600 max-w-7xl md:px-12 xl:px-6"
        >
            <div class="space-y-4">
                <h2
                    class="max-w-2xl text-2xl font-bold text-gray-900 md:text-4xl"
                >Zalety wdrożenia oprogramowania Certusoft dla firm</h2>
                <p class="text-lg">Wszystkie programy Certusoftu działają na
                    jednej platformie, dlatego można je dowolnie łączyć i
                    rozwijać. Spójny, przyjazny dla użytkownika interfejs
                    zapewnia szybkość pracy, intuicyjność i łatwość uczenia się
                    jego obsługi. Wielojęzyczność całego systemu Certusoft
                    zapewnia możliwość łatwego użytkowania przez osoby mówiące w
                    różnych językach. Zapewniamy naszym Klientom pełną obsługę
                    wdrożenia, od analizy, projektu, implementacji, poprzez
                    szkolenia, serwis, bieżące aktualizacje systemu i rozwój,
                    podążanie za zmianami prawnymi i technologicznymi.</p>
            </div>
        </div>
    </div>
    <section class="py-20 bg-white">
        <div class="flex flex-col px-8 mx-auto space-y-12 max-w-7xl xl:px-12">

            <div class="flex flex-col mb-8 animated fadeIn sm:flex-row">
                <div
                    class="flex items-center mb-8 sm:w-1/2 md:w-6/12 sm:order-last"
                >
                    <img
                        class="rounded-lg shadow-xl"
                        src="/assets/public/offer1.jpg"
                        alt=""
                    />
                </div>
                <div
                    class="flex flex-col justify-center mt-5 mb-8 md:mt-0 sm:w-1/2 md:w-6/12 sm:pr-16"
                >
                    <p
                        class="mb-2 text-sm font-semibold leading-none text-left uppercase text-secondary"
                    >METODYKA</p>
                    <h3 class="mt-2 text-2xl font-bold sm:text-left">Realizacja
                        projektów według sprawdzonej metodyki projektowej</h3>
                    <p class="mt-5 text-gray-700 text md:text-left">Projekty
                        prowadzimy od etapu analizy i projektu poprzez
                        przygotowanie systemu, szkolenia użytkowników, start
                        produkcyjny i utrzymanie systemu. Zakończenie każdego
                        etapu produkcji oprogramowania podlega weryfikacji, co
                        pozwala realizować projekty w ramach założonych kosztów
                        i terminów.</p>
                </div>
            </div>
            <div class="flex flex-col mb-8 animated fadeIn sm:flex-row">
                <div class="flex items-center mb-8 sm:w-1/2 md:w-6/12">
                    <img
                        class="rounded-lg shadow-xl"
                        src="/assets/public/offer2.jpg"
                        alt=""
                    />
                </div>
                <div
                    class="flex flex-col justify-center mt-5 mb-8 md:mt-0 sm:w-1/2 md:w-6/12 sm:pl-16"
                >
                    <p
                        class="mb-2 text-sm font-semibold leading-none text-left uppercase text-secondary"
                    >OUTSOURCING
                    </p>
                    <h3
                        class="mt-2 text-2xl font-bold sm:text-left"
                    >Oprogramowanie w modelu outsourcingowym</h3>
                    <p class="mt-5 text-gray-700 text md:text-left">W modelu
                        outsourcingowym oprogramowanie działa na serwerach
                        umieszczonych w nowoczesnym data center, zapewniamy
                        administrowanie infrastrukturą, świadczenie usług
                        serwisu i rozwoju oprogramowania. Koszt infrastruktury
                        sprzętowej, systemowej, łączy internetowych,
                        oprogramowania systemowego oraz administracji pozostają
                        po stronie Certusoft w ramach miesięcznej opłaty
                        Klienta. Utrzymanie systemu realizujemy na bazie umowy
                        SLA (Service Level Agreement).</p>
                </div>
            </div>
            <div class="flex flex-col mb-8 animated fadeIn sm:flex-row">
                <div
                    class="flex items-center mb-8 sm:w-1/2 md:w-6/12 sm:order-last"
                >
                    <img
                        class="rounded-lg shadow-xl"
                        src="/assets/public/offer3.jpg"
                        alt=""
                    />
                </div>
                <div
                    class="flex flex-col justify-center mt-5 mb-8 md:mt-0 sm:w-1/2 md:w-6/12 sm:pr-16"
                >
                    <p
                        class="mb-2 text-sm font-semibold leading-none text-left uppercase text-secondary"
                    >INFRASTRUKTURA
                    </p>
                    <h3
                        class="mt-2 text-2xl font-bold sm:text-left"
                    >Udostępniamy infrastrukturę sprzętową, systemową i
                        komunikacyjną</h3>
                    <p class="mt-5 text-gray-700 text md:text-left">Dysponujemy
                        profesjonalną serwerownią z nowoczesną kontrolą dostępu,
                        całodobową ochroną budynku, systemem alarmowym,
                        dedykowanym systemem zasilania i klimatyzacji. Nasze
                        serwery i systemy zabezpieczające dają pewność
                        bezpieczeństwa danych i zapewnienia ciągłości działania.
                        Dysponujemy szerokopasmowym, symetrycznym łączem dostępu
                        do internetu, oraz łączem zapasowym.</p>
                </div>
            </div>

        </div>
        <div class="">
            <section
                class="box-border relative w-full font-sans leading-6 text-gray-700 bg-white border-0 border-gray-200 border-solid"
            >
                <div
                    class="box-border flex flex-col items-center px-8 py-20 mx-auto leading-6 border-solid max-w-7xl md:items-stretch md:justify-center md:py-24"
                >
                    <div class="relative pb-10">
                        <h2 class="w-full m-0 text-4xl font-bold text-left">
                            Korzyści ze współpracy jakich możesz się spodziewać
                        </h2>
                        <p
                            class="w-full mt-4 mb-0 font-sans text-sm font-medium leading-relaxed text-left text-gray-400 border-0 border-gray-200 lg:text-lg md:text-base"
                        >
                            Nasz zespół posiada ponad 25 lat doświadczenia przy
                            tworzeniu i wdrażaniu oprogramowania do zarządzania
                            przedsiębiorstwem. Specjalizujemy się w produkcji
                            oraz outsourcingu autorskich systemów wspierających
                            biznes.
                        </p>
                    </div>

                    <div class="z-10 grid gap-5 md:grid-cols-6 lg:grid-cols-9">
                        <!-- Feature 1 -->
                        <div
                            class="col-span-3 font-sans text-gray-700 bg-gray-50 rounded-3xl"
                        >
                            <div
                                class="box-border flex flex-col items-start h-full px-2 py-8 mx-4 leading-6 text-center border-solid sm:flex-row sm:items-start sm:text-left"
                            >
                                <div
                                    class="flex-shrink-0 p-3 font-sans text-gray-700 border border-gray-200 rounded-full"
                                >
                                    <svg
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M19.0694 6.27018C21.1594 10.4702 18.9594 14.9302 15.7294 16.8802V18.0402C15.7294 18.3302 15.8394 19.0002 14.7694 19.0002H9.25938C8.15938 19.0002 8.29938 18.5702 8.29938 18.0402V16.8802C5.99938 15.4902 4.10938 12.7802 4.10938 9.90018C4.10938 4.95018 8.65938 1.07018 13.7994 2.19018C14.5494 2.36018 15.2794 2.63018 15.9394 3.00018"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                        <path
                                            d="M12.0001 7.89014L10.9301 9.75014C10.6901 10.1601 10.8901 10.5001 11.3601 10.5001H12.6301C13.1101 10.5001 13.3001 10.8401 13.0601 11.2501L12.0001 13.1101"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                        <path
                                            d="M8.5 22C10.79 21.35 13.21 21.35 15.5 22"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                    </svg>
                                </div>
                                <div
                                    class="mt-4 font-sans text-left text-gray-700 border-0 border-gray-200 sm:mt-2 sm:ml-4"
                                >
                                    <h6
                                        class="box-border text-2xl font-bold leading-none tracking-wide text-left border-solid"
                                    >
                                        Doświadczenie i wiedza</h6>
                                    <p
                                        class="box-border mx-0 mt-1 mb-0 font-medium leading-loose text-gray-400 border-solid sm:mt-4"
                                    >
                                        Jako wykwalifikowany zespół zapewniamy
                                        wsparcie na każdym etapie inwestycji w
                                        oprogramowanie.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Feature 2 -->
                        <div
                            class="col-span-3 font-sans text-gray-700 bg-gray-50 rounded-3xl"
                        >
                            <div
                                class="box-border flex flex-col items-start h-full px-2 py-8 mx-4 leading-6 text-center border-solid sm:flex-row sm:items-start sm:text-left"
                            >
                                <div
                                    class="flex-shrink-0 p-3 font-sans text-gray-700 border border-gray-200 rounded-full"
                                >
                                    <svg
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                        <path
                                            d="M7.53906 12C7.53906 15.04 8.02906 18.08 8.99906 21H7.99906"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                        <path
                                            d="M8.00039 3H9.00039C8.51039 4.46 8.15039 5.95 7.90039 7.46"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                        <path
                                            d="M16.13 16.3601C15.88 17.9201 15.51 19.4801 15 21.0001"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                        <path
                                            d="M15 3C15.97 5.92 16.46 8.96 16.46 12"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                        <path
                                            d="M3 16V15C8.84 16.95 15.16 16.95 21 15V16"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                        <path
                                            d="M3 9.0001C8.84 7.0501 15.16 7.0501 21 9.0001"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                    </svg>

                                </div>
                                <div
                                    class="mt-4 font-sans text-left text-gray-700 border-0 border-gray-200 sm:mt-2 sm:ml-4"
                                >
                                    <h6
                                        class="box-border text-2xl font-bold leading-none tracking-wide text-left border-solid"
                                    >
                                        Najnowsze technologie</h6>
                                    <p
                                        class="box-border mx-0 mt-1 mb-0 font-medium leading-loose text-gray-400 border-solid sm:mt-4"
                                    >
                                        W czasie rozwoju naszej aplikacji
                                        wykorzystujemy aktualne rozwiązania
                                        branżowe i technologiczne.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Feature 3 -->
                        <div
                            class="col-span-3 font-sans text-gray-700 bg-gray-50 rounded-3xl"
                        >
                            <div
                                class="box-border flex flex-col items-start h-full px-2 py-8 mx-4 leading-6 text-center border-solid sm:flex-row sm:items-start sm:text-left"
                            >
                                <div
                                    class="flex-shrink-0 p-3 font-sans text-gray-700 border border-gray-200 rounded-full"
                                >
                                    <svg
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M9.05078 11.8701L10.6608 13.4801L14.9608 9.18005"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                        <path
                                            d="M20.5902 7.12006C20.5902 5.89006 19.6502 4.53006 18.5002 4.10006L13.5102 2.23006C12.6802 1.92006 11.3202 1.92006 10.4902 2.23006L5.50016 4.11006C4.35016 4.54006 3.41016 5.90006 3.41016 7.12006V14.5501C3.41016 15.7301 4.19016 17.2801 5.14016 17.9901L9.44016 21.2001C10.8502 22.2601 13.1702 22.2601 14.5802 21.2001L18.8802 17.9901C19.8302 17.2801 20.6102 15.7301 20.6102 14.5501V11.0301"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                    </svg>
                                </div>
                                <div
                                    class="mt-4 font-sans text-left text-gray-700 border-0 border-gray-200 sm:mt-2 sm:ml-4"
                                >
                                    <h6
                                        class="box-border text-2xl font-bold leading-none tracking-wide text-left border-solid"
                                    >
                                        Bezpieczeństwo danych</h6>
                                    <p
                                        class="box-border mx-0 mt-1 mb-0 font-medium leading-loose text-gray-400 border-solid sm:mt-4"
                                    >
                                        Zapewniamy data center spełniające
                                        odpowiednie warunki techniczne i
                                        certyfikaty SSL na połączeniach www.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Feature 4 -->
                        <div
                            class="col-span-3 font-sans text-gray-700 bg-gray-50 rounded-3xl"
                        >
                            <div
                                class="box-border flex flex-col items-start h-full px-2 py-8 mx-4 leading-6 text-center border-solid sm:flex-row sm:items-start sm:text-left"
                            >
                                <div
                                    class="flex-shrink-0 p-3 font-sans text-gray-700 border border-gray-200 rounded-full"
                                >
                                    <svg
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M15 12C15 10.34 13.66 9 12 9C10.34 9 9 10.34 9 12C9 13.66 10.34 15 12 15C12.41 15 12.81 14.92 13.17 14.76"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-miterlimit="10"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                        <path
                                            d="M6.88086 20.5801L7.97086 21.2101C8.76086 21.6801 9.78086 21.4001 10.2509 20.6101L10.3609 20.4201C11.2609 18.8501 12.7409 18.8501 13.6509 20.4201L13.7609 20.6101C14.2309 21.4001 15.2509 21.6801 16.0409 21.2101L17.7709 20.2201C18.6809 19.7001 18.9909 18.5301 18.4709 17.6301C17.5609 16.0601 18.3009 14.7801 20.1109 14.7801C21.1509 14.7801 22.0109 13.9301 22.0109 12.8801V11.1201C22.0109 10.0801 21.1609 9.22007 20.1109 9.22007C19.1009 9.22007 18.4209 8.82007 18.1809 8.19007C17.9909 7.70007 18.0709 7.06007 18.4709 6.37007C18.9909 5.46007 18.6809 4.30007 17.7709 3.78007L16.9609 3.32007"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-miterlimit="10"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                        <path
                                            d="M13.64 3.57994C12.74 5.14994 11.26 5.14994 10.35 3.57994L10.24 3.38994C9.78 2.59994 8.76 2.31994 7.97 2.78994L6.24 3.77994C5.33 4.29994 5.02 5.46994 5.54 6.37994C6.45 7.93994 5.71 9.21994 3.9 9.21994C2.86 9.21994 2 10.0699 2 11.1199V12.8799C2 13.9199 2.85 14.7799 3.9 14.7799C5.71 14.7799 6.45 16.0599 5.54 17.6299"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-miterlimit="10"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                    </svg>
                                </div>
                                <div
                                    class="mt-4 font-sans text-left text-gray-700 border-0 border-gray-200 sm:mt-2 sm:ml-4"
                                >
                                    <h6
                                        class="box-border text-2xl font-bold leading-none tracking-wide text-left border-solid"
                                    >
                                        Kompleksowe rozwiązania</h6>
                                    <p
                                        class="box-border mx-0 mt-1 mb-0 font-medium leading-loose text-gray-400 border-solid sm:mt-4"
                                    >
                                        Nasze oprogramowanie odpowiada potrzebom
                                        przedsiębiorstwa i rozwija się razem z
                                        nim.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Feature 5 -->
                        <div
                            class="col-span-3 font-sans text-gray-700 bg-gray-50 rounded-3xl"
                        >
                            <div
                                class="box-border flex flex-col items-start h-full px-2 py-8 mx-4 leading-6 text-center border-solid sm:flex-row sm:items-start sm:text-left"
                            >
                                <div
                                    class="flex-shrink-0 p-3 font-sans text-gray-700 border border-gray-200 rounded-full"
                                >
                                    <svg
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M17.3198 10H4.68977C3.20977 10 2.00977 8.79002 2.00977 7.32002V4.69002C2.00977 3.21002 3.21977 2.01001 4.68977 2.01001H19.3198C20.7998 2.01001 21.9998 3.22002 21.9998 4.69002V7.32002"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                        <path
                                            d="M19.3198 22H4.68977C3.20977 22 2.00977 20.79 2.00977 19.32V16.69C2.00977 15.21 3.21977 14.01 4.68977 14.01H19.3198C20.7998 14.01 21.9998 15.22 21.9998 16.69V19.32C21.9998 20.79 20.7898 22 19.3198 22Z"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                        <path
                                            d="M6 5V7"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                        <path
                                            d="M10 5V7"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                        <path
                                            d="M6 17V19"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                        <path
                                            d="M10 17V19"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                        <path
                                            d="M14 6H18"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                        <path
                                            d="M14 18H18"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                    </svg>
                                </div>
                                <div
                                    class="mt-4 font-sans text-left text-gray-700 border-0 border-gray-200 sm:mt-2 sm:ml-4"
                                >
                                    <h6
                                        class="box-border text-2xl font-bold leading-none tracking-wide text-left border-solid"
                                    >
                                        Stabilność i niezawodność</h6>
                                    <p
                                        class="box-border mx-0 mt-1 mb-0 font-medium leading-loose text-gray-400 border-solid sm:mt-4"
                                    >
                                        Aplikację tworzymy w oparciu o stabilną
                                        i wydajną bazę danych, co zapewnia
                                        szybkość dostępu do zasobów oraz
                                        informacji.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Feature 6 -->
                        <div
                            class="col-span-3 font-sans text-gray-700 border-0 bg-gray-50 rounded-3xl"
                        >
                            <div
                                class="box-border flex flex-col items-start h-full px-2 py-8 mx-4 leading-6 text-center border-solid sm:flex-row sm:items-start sm:text-left"
                            >
                                <div
                                    class="flex-shrink-0 p-3 font-sans text-gray-700 border border-gray-200 rounded-full"
                                >
                                    <svg
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M7.0407 3.3C4.0107 5.02 1.9707 8.27 1.9707 12C1.9707 17.52 6.4507 22 11.9707 22C17.4907 22 21.9707 17.52 21.9707 12C21.9707 6.48 17.4907 2 11.9707 2"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                        <path
                                            d="M12 16.5C14.4853 16.5 16.5 14.4853 16.5 12C16.5 9.51472 14.4853 7.5 12 7.5C9.51472 7.5 7.5 9.51472 7.5 12C7.5 14.4853 9.51472 16.5 12 16.5Z"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                        <path
                                            d="M4.90039 4.92993L8.44039 8.45993"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                        <path
                                            d="M4.90039 19.07L8.44039 15.54"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                        <path
                                            d="M19.0498 19.07L15.5098 15.54"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                        <path
                                            d="M19.0498 4.92993L15.5098 8.45993"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                    </svg>

                                </div>
                                <div
                                    class="mt-4 font-sans text-left text-gray-700 border-0 border-gray-200 sm:mt-2 sm:ml-4"
                                >
                                    <h6
                                        class="box-border text-2xl font-bold leading-none tracking-wide text-left border-solid"
                                    >
                                        Serwis oprogramowania</h6>
                                    <p
                                        class="box-border mx-0 mt-1 mb-0 font-medium leading-loose text-gray-400 border-solid sm:mt-4"
                                    >
                                        Gwarantujemy świadczenie usług
                                        serwisowych zapewniających
                                        bezpieczeństwo użytkowania systemu.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Feature 4 -->
                        <div
                            class="col-span-3 font-sans text-gray-700 bg-gray-50 rounded-3xl"
                        >
                            <div
                                class="box-border flex flex-col items-start h-full px-2 py-8 mx-4 leading-6 text-center border-solid sm:flex-row sm:items-start sm:text-left"
                            >
                                <div
                                    class="flex-shrink-0 p-3 font-sans text-gray-700 border border-gray-200 rounded-full"
                                >
                                    <svg
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M21.3192 11.91C22.4892 10.74 22.1092 9.55999 20.4792 9.27999L17.9292 8.85999C17.4992 8.78999 16.9892 8.41 16.7992 8.02L15.3892 5.19999C14.6292 3.66999 13.3792 3.66999 12.6192 5.19999L11.2092 8.02C11.0192 8.41 10.5092 8.77999 10.0792 8.85999L7.52922 9.27999C5.89922 9.54999 5.51922 10.73 6.68922 11.91L8.67921 13.9C9.00921 14.23 9.19921 14.88 9.08921 15.35L8.51921 17.81C8.06921 19.75 9.10923 20.51 10.8192 19.49L13.2092 18.07C13.6392 17.81 14.3592 17.81 14.7892 18.07L17.1792 19.49C18.8892 20.5 19.9292 19.75 19.4792 17.81L18.9092 15.35"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                        <path
                                            d="M8 5H2"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                        <path
                                            d="M5 19H2"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                        <path
                                            d="M3 12H2"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                    </svg>

                                </div>
                                <div
                                    class="mt-4 font-sans text-left text-gray-700 border-0 border-gray-200 sm:mt-2 sm:ml-4"
                                >
                                    <h6
                                        class="box-border text-2xl font-bold leading-none tracking-wide text-left border-solid"
                                    >
                                        Optymalizacja procesów</h6>
                                    <p
                                        class="box-border mx-0 mt-1 mb-0 font-medium leading-loose text-gray-400 border-solid sm:mt-4"
                                    >
                                        System, który tworzymy, integruje,
                                        usprawnia, porządkuje, monitoruje i
                                        automatyzuje procesy biznesowe w firmie.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Feature 5 -->
                        <div
                            class="col-span-3 font-sans text-gray-700 bg-gray-50 rounded-3xl"
                        >
                            <div
                                class="box-border flex flex-col items-start h-full px-2 py-8 mx-4 leading-6 text-center border-solid sm:flex-row sm:items-start sm:text-left"
                            >
                                <div
                                    class="flex-shrink-0 p-3 font-sans text-gray-700 border border-gray-200 rounded-full"
                                >
                                    <svg
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M22 10.63V12.78C22 16.34 21.11 17.22 17.56 17.22H6.44C2.89 17.22 2 16.33 2 12.78V6.44C2 2.89 2.89 2 6.44 2H17.55C21.11 2 22 2.89 22 6.44"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                        <path
                                            d="M12 17.22V22"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                        <path
                                            d="M2 13H22"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                        <path
                                            d="M7.5 22H16.5"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                    </svg>
                                </div>
                                <div
                                    class="mt-4 font-sans text-left text-gray-700 border-0 border-gray-200 sm:mt-2 sm:ml-4"
                                >
                                    <h6
                                        class="box-border text-2xl font-bold leading-none tracking-wide text-left border-solid"
                                    >
                                        Przyjazny interfejs</h6>
                                    <p
                                        class="box-border mx-0 mt-1 mb-0 font-medium leading-loose text-gray-400 border-solid sm:mt-4"
                                    >
                                        Korzystanie z aplikacji przygotowaliśmy
                                        z myślą o szybkości pracy i łatwości
                                        uczenia się jego obsługi.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Feature 6 -->
                        <div
                            class="col-span-3 font-sans text-gray-700 border-0 bg-gray-50 rounded-3xl"
                        >
                            <div
                                class="box-border flex flex-col items-start h-full px-2 py-8 mx-4 leading-6 text-center border-solid sm:flex-row sm:items-start sm:text-left"
                            >
                                <div
                                    class="flex-shrink-0 p-3 font-sans text-gray-700 border border-gray-200 rounded-full"
                                >
                                    <svg
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M14.55 21.67C18.84 20.54 22 16.64 22 12C22 6.48 17.56 2 12 2C5.33 2 2 7.56 2 7.56M2 7.56V3M2 7.56H4.01H6.44"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                        <path
                                            d="M2 12C2 17.52 6.48 22 12 22"
                                            stroke="#292D32"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-dasharray="3 3"
                                        ></path>
                                    </svg>

                                </div>
                                <div
                                    class="mt-4 font-sans text-left text-gray-700 border-0 border-gray-200 sm:mt-2 sm:ml-4"
                                >
                                    <h6
                                        class="box-border text-2xl font-bold leading-none tracking-wide text-left border-solid"
                                    >
                                        Aktualizacja systemu</h6>
                                    <p
                                        class="box-border mx-0 mt-1 mb-0 font-medium leading-loose text-gray-400 border-solid sm:mt-4"
                                    >
                                        Podążamy za zmianami prawnymi i
                                        technologicznymi, dlatego nasz system
                                        jest na bieżąco rozwijany i
                                        aktualizowany.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <section class="bg-white background-position: center top;">
            <div class="mx-auto">
                <div
                    class="px-4 mx-auto mb-8 text-lg font-medium leading-loose prose text-gray-500 md:max-w-5xl md:text-xl"
                >
                    {{content}}
                </div>
            </div>
        </section>
    </section>

{{/post}}