{{!< default}}
{{#post}}
    <div class="">
<section>
    <div class="relative w-full overflow-hidden">
      <div class="relative flex items-center justify-end overflow-hidden bg-black">
          <div class="absolute inset-0 z-10 opacity-50 bg-gradient-to-b from-black via-black to-transparent"></div>
          {{#if feature_image}}
          <div class="absolute inset-0 bg-center bg-cover bg-norepeat" style="background-image: url({{feature_image}}"></div>
          {{/if}}
          <div class="container relative z-20 px-6 m-auto mx-auto max-w-7xl md:px-12 lg:px-7">
              <div class="flex flex-wrap items-center px-2 md:px-0">
                  <div class="relative text-white md:py-12 ">
                    <div class="relative z-20 px-16 py-12">
                      <!-- <div class="absolute z-10 w-full h-full shadow-2xl -top-5 left-5 md:backdrop-blur-sm md:bg-black md:bg-opacity-20"></div> -->
                      <h2 class="relative z-20 text-4xl font-extrabold uppercase shadow-2xl lg:text-6xl">
                          <span>{{title}}</span>
                      </h2>
                      </div>
                  </div>
                  <div class="relative h-full min-w-xl w-xl ">
                  </div>
              </div>
          </div>
          
      </div>
  </div>
  </div>
  <!-- TEAM -->
</section>
        <div class="py-20 bg-white">
            <div class="px-4 mx-auto text-2xl leading-normal prose">
                {{content}}
            </div>
        </div>
    </div>
{{/post}}