{{!< default}}
{{#post}}
    <div class="">
    {{! HEADER }}
 <header></header>
        <div class="py-20 bg-white">
            <div class="px-4 mx-auto text-xl leading-normal prose">
                {{content}}
            </div>
        </div>
    </div>
{{/post}}